{% extends "base.html" %}

{% block title %}Options | Notifications{% endblock %}
{% block heading %}<!-- leave heading blank -->{% endblock %}
{% block pageid %}userprofile{% endblock %}

{% block content %}

<h2>Contacts (LVC Users)</h2>
{% for contact in contacts %}
    <ul>
        <li>
            <!-- <a href="{% url "userprofile-edit-contact" contact.id %}">Edit</a> -->
            <a href="{% url "userprofile-test-contact" contact.id %}">Test</a>
            <a href="{% url "userprofile-delete-contact" contact.id %}">Delete</a>
            {{ contact.desc }} / {{ contact.email }} {{ contact.phone }}
        </li>
    </ul>
{% endfor %}

<a href="{% url "userprofile-create-contact" %}">Create New Contact</a>
<br/><br/>

<h2>Notifications (LVC Users)</h2>
{% for trigger in triggers %}
   <ul>
     <li> 
        <!-- <a href="{% url "userprofile-edit" trigger.id  %}">Edit</a> -->
        <a href="{% url "userprofile-delete" trigger.id %}">Delete</a>
        {{ trigger.userlessDisplay }}
     </li>
   </ul>
{% endfor %}

<a href="{% url "userprofile-create" %}">Create New Notification (LVC users)</a>
<br/><br/>

<h2>Passwords for Scripted Access (LV-EM users)</h2>

<a href="{% url "userprofile-manage-password" %}">Manage Password</a>

{% endblock %}
