<table class="table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
                    <thead>
                        <tr><th><h3>Executive Actions</h3></th></tr>
                    </thead>
                    <tr><td>
                <center>
                    <b>Note:</b> this action is irreversible without manual intervention by an admin.
                    <br>
                    <br>
                    <form action="{% url "legacy_apiweb:default:superevents:superevent-confirm-as-gw" superevent.superevent_id %}" method="POST" id="confirm_as_gw_form">
                        <input type="submit" value="Confirm this superevent as a GW" class="btn btn-danger permButtonClass" disabled>
                    </form>
                </center>

                {% if can_modify_permissions %}
                <center>
                    <br>
                    <form action="{% url "legacy_apiweb:default:superevents:superevent-permission-modify" superevent.superevent_id %}"
                          method="POST"
                          id="permissions_form">
                        <input type="hidden" name="action" value="{{ permissions_action }}">
                        <input type="submit" value="{{ permissions_form_button_text }}" class="btn btn-danger permButtonClass" id="permissions_submit_link"  onclick="return clickConfirm()">
                    </form>
                </center>
                {% endif %}
                        </td></tr>
</table>
