{% load timeutil %}
{% load scientific %}
    <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
      <!-- Table Header -->
      <thead>
      <tr>
        <th colspan="5"><h3>Per-Pipeline Preferred Event Information</h3></th>
      </tr>

      <tr>
        <th> UID </th>
        <th> Group </th>
        <th> Pipeline </th>
        <th> FAR (Hz) </th>
        <th> SNR </th>
      </tr>
      </thead>

      <tbody>
      {% for e in pipeline_preferred_events %}
        <tr>
         <td><a href="{% url "view" e.graceid %}">{{ e.graceid }}</a></td>
         <td> {{ e.group.name }} </td>
         <td> {{ e.pipeline.name }} </td>
         <td>
             {% if e.far|scientific %}
             {{ e.far|scientific }} 
             {% else %}
             &nbsp; &nbsp; &nbsp; &nbsp;
             {% endif %}
         </td>
         <td data-title="SNR">
             {% if e.coincinspiralevent %}
             {{ e.coincinspiralevent.snr|floatformat:"3" }}
             {% elif e.multiburstevent %}
             {{ e.multiburstevent.snr|floatformat:"3" }}
             {% else %}
             &nbsp; &nbsp; &nbsp; &nbsp;
             {% endif %}
         </td>


        </tr>
      {% endfor %}
      </tbody>
    </table>
