{% load timeutil %}
{% load scientific %}
<div class="row pt-3 justify-content-center">
<div class="col">
<div class="table-responsive table-detail">

<table class="table table-sm table-detail">
    <thead class="thead-dark">
    <tr>
     <th colspan="23" class="table-detail-th"> <h5>Preferred Event Information</h5> </th>
    </tr>
    <tr>
        <th scope="col" valign="top">UID</th>
        <th scope="col">Labels</th>
        <th scope="col">Group</th>
        <th scope="col">Pipeline</th>
        <th scope="col">Search</th>
        <th scope="col">Instruments</th>
        <th scope="col">
            {{ "gps"|timeselect:"gps" }}
        </th>
        <th scope="col">FAR (Hz)</th>
        <th scope="col">FAR (yr<sup>-1</sup>)</th>
        <th scope="col">Links</th>
        <th scope="col">
            {{ "created"|timeselect:"utc" }}
        </th>
    </tr>
    <tr>
        <td><a href="{% url "view" preferred_event.graceid %}">{{ preferred_event.graceid }}</a></td>
        <td>
        {% for labelling in preferred_event_labelling %}
            <div onmouseover="tooltip.show(tooltiptext('{{labelling.label.name}}', '{{labelling.creator.username}}', '{{labelling.created|utc}}', '{{labelling.label.description}}'));" onmouseout="tooltip.hide();" style="color: {{labelling.label.defaultColor}};" class="label">
                {{ labelling.label.name }}
            </div>
        {% endfor %}
        </td>
        <td>{{ preferred_event.group.name }} </td>
        <td>{{ preferred_event.pipeline.name }} </td>
        <td>{{ preferred_event.search.name }} </td>
        <td>{{ preferred_event.instruments }}</td>
        <td>
            {% if preferred_event.gpstime %}
            {{ preferred_event.gpstime|multiTime:"gps" }}
            {% endif %}
        </td>
        <td>{% if far_is_upper_limit %} &lt; {% endif %}{{ display_far|scientific }}</td>
        <td>{% if far_is_upper_limit %} &lt; {% endif %}{{ display_far_hr }}</td>
        <td><a href="{{ preferred_event.weburl }}">Data</a></td>
        <td>{{ preferred_event.created|multiTime:"created" }}</td>
    </tr>
</table>
</div>
</div>
</div>
