{% extends "base.html" %}
{% load sanitize_html %}
{% load logtags %}
{% load static %}

{% comment %}
{% block csslink %}<link rel="stylesheet" href="{% static "css/public.css" %}" />{% endblock %}
{% endcomment %}

{% block heading %}{% endblock %}



{% block bodyattrs %}class="tundra eventDetail"{% endblock %}


{% block jscript %}


<link rel="stylesheet" type="text/css" href="{% static "tablesaw/dist/tablesaw.css" %}" />
<script language="javascript" type="text/javascript" src="{% static "tablesaw/dist/tablesaw.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "tablesaw/dist/tablesaw-init.js" %}"></script>
<!-- <script src="//filamentgroup.github.io/demo-head/loadfont.js"></script> -->

<!-- Styles for dgrid -->
<!-- <link rel="stylesheet" href="{% static "dgrid/css/dgrid.css" %}" /> -->
<!-- Styles for the editor components -->

<!--
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/PageBreak.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/ShowBlockNodes.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/Preview.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/Save.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/Breadcrumb.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/FindReplace.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/PasteFromWord.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/InsertAnchor.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/CollapsibleToolbar.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/Blockquote.css" %}" />
<link rel="stylesheet" href="{% static "dojox/editor/plugins/resources/css/Smiley.css" %}" />

<link rel="stylesheet" href="{% static "dojox/image/resources/LightboxNano.css" %}" />

<link rel="stylesheet" href="{% static "dijit/themes/tundra/tundra.css" %}" />
-->


<!-- the main JavaScript block is pulled in with an include -->

{% endblock %}

{% block content %}
<h1>LIGO/Virgo Public Alerts</h1> 

<h3>O3 detection candidates: {{ candidates }}</h3>
<br/><br/>



<table class="tablesaw" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-mode="columntoggle">
  <thead><tr>
      <th  scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Event ID</th>
      <th  scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Possible Source (Probability)</th>
      <th  scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">UTC</th>
      <th  scope="col" data-tablesaw-col data-tablesaw-priority="3">GCN</th>
      <th  scope="col" data-tablesaw-col data-tablesaw-priority="6">Location</th>

      {% if not user_is_external %}
      <th  scope="col" data-tablesaw-col data-tablesaw-priority="5">&Omega; Scan</th>
      {% endif %}

      <th  scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Comments</th>

      <th  scope="col" data-tablesaw-sortable-col data-tablesaw-priority="0">GPS</th>
      <th  scope="col" data-tablesaw-col data-tablesaw-priority="0">False Alarm Rate (per year)</th>
      <!-- <th  scope="col" data-tablesaw-sortable-col data-tablesaw-priority="0">UTC Time</th> -->      
    </tr>
  </thead><tbody>


{% for event in object_list %}
<tr   {% if event.retract %}style='background-color:#EDD' {% endif %}  >

  <td><a href=/superevents/{{ event.superevent_id }}>{{ event.default_superevent_id }}</a></td>

  <td style='min-width:120px;'>{{ event.sourcetypes }} </td>

  <td style='min-width:120px'>
    <span style='font-size:0px;'>{{ event.t0_iso }}</span>{{ event.t_0_date }}<br/>
    {{ event.t0_utc }} UTC
  </td>

  <td>
    <a href={{ event.noticeurl }}>Notice</a><br/>
    <a href={{ event.gcnurl }}>Circulars</a>
  </td>

  <td> <a href='{{ event.maplocal }}'> <img src='{{ event.maplocal }}' width='200px'/> </a> </td>

  {% if not user_is_external %}
  <td style='min-width:70px'>
    <a href='https://ldas-jobs.ligo-la.caltech.edu/~detchar/dqr/events/{{ event.superevent_id }}/L1deepomegascan/'>&Omega; L1</a><br/>
    <a href='https://ldas-jobs.ligo-wa.caltech.edu/~detchar/dqr/events/{{ event.superevent_id }}/H1deepomegascan/'>&Omega; H1</a>
  </td>
  {% endif %}
  

  <td>{{ event.comments }} </td>

  <td>{{ event.t_0|floatformat:2 }} </td>
  <td> 1 per {{ event.ifar_yrs|floatformat:2 }} years</td>
  <!-- <td>{{ event.t0_iso }} UTC</td>  --> 
</tr>

{% endfor %}
</tbody></table>

<hr/>
<ul style="list-style-type:square">
  <li> Retractions are marked in red</li>
  <li> Details in the <a href='https://emfollow.docs.ligo.org/userguide/'>LIGO/Virgo Alerts User Guide</a>
</ul>

<br/><br/><br/>

{% endblock %}

