{% extends "base.html" %}
{% load static %}
{% load public_alerts %}


{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/public.css" %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}LVK Public Alerts {% endblock %}
{% block heading %}{% endblock %}
{% block pageid %}public{% endblock %}

{% block jscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.min.css" integrity="sha512-FW7xwIsGt3iCswNR3o4kcXqkKDvN8Q7obwdxFODRT+L6XkRtScLElfvobA7bjiC2iTgG/sRaBUqdrhqx0RTauw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.jquery.min.js" integrity="sha512-/Un6gjn0IXHJtR9j8VBYmN3ZoAVNMTQTufizEkeImLkb67lxsJcXv/cFswbOig2v5ykbGxX6zngh4u8ff7FJ0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw-init.min.js" integrity="sha512-w/1hLca9Fyn6iwnkMxUU55d/OlcA65RnP4v6kJ8NssnzHeHnJBeOzuHEkJ67zpt0ksiH1LQn8FKYZc/TT1O/aQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col mx-1">
    <h4 style="font-weight: lighter;">LIGO/Virgo/KAGRA Public Alerts</h4>
    <ul style="list-style-type: square; font-weight: lighter;">
      <li>More details about public alerts are provided in the <a href="https://emfollow.docs.ligo.org/userguide/">LIGO/Virgo/KAGRA Alerts User Guide</a>.</li>
      <li>Retractions are marked in <span style="color:red;">red</span>. Retraction means that the candidate was manually vetted and is no longer considered a candidate of interest.</li>
      {% if signif_docs %}
      <li>Less-significant events are marked in <span style="background-color: #E5E4E2">grey</span>, and are not manually vetted. Consult the <a href=" {{ signif_docs }}" target="_blank">LVK Alerts User Guide</a> for more information on significance in {{ run }}.</li>
      <li>Less-significant events are not shown by default. Press "<b>Show All Public Events</b>" to show significant and less-significant events.</li>
      {% endif %}
    </ul>
    <hr>

    {% if signif_docs %}
    <p>
    <h5 style='font-weight: lighter;'>{{ run }} Significant Detection Candidates: <b>{{ sig_cands }}</b>  ({{ total_sig }} Total - {{ retractions }} Retracted)</h5>
    </p>
    <p>
    <h5 style='font-weight: lighter;'>{{ run }} Low Significance Detection Candidates: <b>{{ total_insig }}</b>  (Total)</h5>
    </p>
    {% else %}
    <p>
    <h5 style='font-weight: lighter;'>{{ run }} Detection Candidates: <b>{{ candidates }}</b> ({{total_events}} Total - {{ retractions }} Retracted)</h5>
    </p>
    {% endif %}

    <br>
    {% if signif_docs %}
    <script>
      $(document).ready(function(){
        $('#showAllButton').on('click', function () {
          var text=$('#showAllButton').text();
          if(text === '{{ show_button_text }}'){
            $(this).html('{{ hide_button_text }}');
            $.ajax({
              url: '{{ request.path }}',
              type: "get",
              cache: true,
              dataType: 'html',
              data : {
                showall: "True"
              },
              success: function (data) {
                var result = JSON.parse(data)
                //alert(result.rendered_table)
                $('#publicTableDiv').html(result.rendered_table);
                $('#publicTable').trigger("enhance.tablesaw");
              },
              error: function (data) {
                alert("Error rendering data");
              }
            });
          } else{
            $(this).html('{{ show_button_text }}');
            $.ajax({
              url: '{{ request.path }}',
              type: "get",
              cache: true,
              dataType: 'html',
              data : {
                showall: "False"
              },
              success: function (data) {
                var result = JSON.parse(data)
                //alert(result.rendered_table)
                $('#publicTableDiv').html(result.rendered_table);
                $('#publicTable').trigger("enhance.tablesaw");
              },
              error: function (data) {
                alert("Error rendering data");
              }
            });
          }
        });
      });
    </script>

    <a class="btn btn-primary" role="button" href="#" id="showAllButton">{{ button_text }}</a>

    <br>
    <br>
    {% endif %}

    {% if candidates > 0 or retractions > 0 %}
    <div id="publicTableDiv">
      {% include "superevents/public_alerts_table.html" %}
    </div>
    {% else %}
    <br />
    <h5 style='margin-left: 40px; font-weight: lighter;'>No {{ run }} candidates at present.</h5>
    {% endif %}
    <br/>


  </div>
</div>
</div>

{% endblock %}
