{% load timeutil %}
{% load scientific %}
    <br>
    <br>
    <div class="row my-3 justify-content-center">
    <div class="col">
    <div class="table-responsive" id="gdb-table-superevent">

    <table class="table-condensed table-basic-info my-1">
        <thead>
    <tr>
         <th colspan="23" class="banner-row">Superevent Information</th>
    </tr>
    <tr class="header-row">
        <th scope="col">Superevent ID</th>
        {% if superevent.is_gw %}
        <th scope="col">GW ID</th>
        {% endif %}
        <th scope="col">Category</th>
        <th scope="col">Labels</th>
        <th scope="col">Preferred event</th>
        <th scope="col">GW events</th>
        <th scope="col">External events</th>
        <th scope="col">t<sub>start</sub></th>
        <th scope="col">t<sub>0</sub></th>
        <th scope="col">t<sub>end</sub></th>
        <th scope="col">
            {{ "submitted"|timeselect:"utc" }}
        </th>
        <th scope="col">Links</th>
        </thead>
    </tr>
    <tr>
        <td data-title="Superevent ID">{{ superevent.default_superevent_id }}</td>
        {% if superevent.is_gw %}
        <td data-title="GW ID">{{ superevent.gw_id }}</td>
        {% endif %}
        <td data-title="Category">{{ superevent.get_category_display }}</td>
        <td data-title="Labels">
        {% for labelling in superevent.labelling_set.all %}
                    <span style="color: {{labelling.label.defaultColor}};" class="label"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-html="true"
                       title="<em>{{labelling.label.description}}</em><br>
                      <b>Added by:</b> {{labelling.creator.get_full_name}}<br>
                      <b>Added:</b> {{labelling.created}}">
               {{ labelling.label.name }}</span>
       {% endfor %}
        </td>
        <td data-title="Preferred Event"><a href="{% url "view" preferred_event.graceid %}"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            data-html="true"
                                            title="<b>{{ preferred_event.graceid }}</b><br>
                                           <b>Pipeline:</b> {{ preferred_event.pipeline.name }}<br>
                                           <b>FAR:</b> {{ preferred_event.far|scientific }}">{{ preferred_event.graceid }}</a></td>
        <td data-title="GW Events">
            <div>
            {% for ev in internal_events %}
            <a href="{% url "view" ev.graceid %}"
               data-toggle="tooltip"
               data-placement="top"
               data-html="true"
               title="<b>{{ ev.graceid }}</b><br>
               <b>Pipeline:</b> {{ ev.pipeline.name }}<br>
               <b>FAR:</b> {{ ev.far|scientific }}">{{ ev.graceid }}</a>
            {% endfor %}
            </div>
        </td>
        <td data-title="External Events">
            <div>
            {% if external_events %}
            {% for graceid in external_events %}
            <a href="{% url "view" graceid %}">{{ graceid }}</a>
            {% endfor %}
            {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
            </div>
        </td>
        <td data-title="t_start">{{ superevent.t_start|floatformat:2 }}</td>
        <td data-title="t_0">{{ superevent.t_0|floatformat:2 }}</td>
        <td data-title="t_end">{{ superevent.t_end|floatformat:2 }}</td>
        <td data-title="Submitted">{{ superevent.created|multiTime:"submitted" }}</td>
        <td data-title="Links"><a href="{% url "superevents:file-list" superevent.superevent_id %}">Data</a></td>
    </tr>
</table>
</div>
</div>
</div>
