{% load timeutil %}
    <br>
    <br>
    <div class="row pt-3 justify-content-center">
    <div class="col">
    <div class="table-responsive table-detail">

    <table class="table table-sm table-detail">
        <thead class="thead-gdbdark">
    <tr>
         <th colspan="23" class="table-detail-th"> <h5>Superevent Information</h5> </th>
    </tr>
    <tr>
        <th scope="col" class="table-detail-lh" valign="top" >Superevent ID</th>
        {% if superevent.is_gw %}
        <th scope="col" class="table-detail-lh">GW ID</th>
        {% endif %}
        <th scope="col" class="table-detail-lh">Category</th>
        <th scope="col" class="table-detail-lh">Labels</th>
        <th scope="col" class="table-detail-lh">Preferred event</th>
        <th scope="col" class="table-detail-lh">GW events</th>
        <th scope="col" class="table-detail-lh">External events</th>
        <th scope="col" class="table-detail-lh">t<sub>start</sub></th>
        <th scope="col" class="table-detail-lh">t<sub>0</sub></th>
        <th scope="col" class="table-detail-lh">t<sub>end</sub></th>
        <th scope="col" class="table-detail-lh">
            {{ "submitted"|timeselect:"utc" }}
        </th>
        <th scope="col" class="table-detail-lh">Links</th>
        </thead>
    </tr>
    <tr>
        <td>{{ superevent.default_superevent_id }}</td>
        {% if superevent.is_gw %}
        <td>{{ superevent.gw_id }}</td>
        {% endif %}
        <td>{{ superevent.get_category_display }}</td>
        <td>
        {% for labelling in superevent.labelling_set.all %}
            <div onmouseover="tooltip.show(tooltiptext('{{labelling.label.name}}', '{{labelling.creator.username}}', '{{labelling.created|utc}}', '{{labelling.label.description}}'));" onmouseout="tooltip.hide();" style="color: {{labelling.label.defaultColor}};" class="label">
                {{ labelling.label.name }}
            </div>
       {% endfor %}
        </td>
        <td><a href="{% url "view" preferred_event.graceid %}">{{ preferred_event.graceid }}</a></td>
        <td>
            <div>
            {% for graceid in internal_events %}
            <a href="{% url "view" graceid %}">{{ graceid }}</a>
            {% endfor %}
            </div>
        </td>
        <td>
            <div>
            {% for graceid in external_events %}
            <a href="{% url "view" graceid %}">{{ graceid }}</a>
            {% endfor %}
            </div>
        </td>
        <td>{{ superevent.t_start|floatformat:2 }}</td>
        <td>{{ superevent.t_0|floatformat:2 }}</td>
        <td>{{ superevent.t_end|floatformat:2 }}</td>
        <td>{{ superevent.created|multiTime:"submitted" }}</td>
        <td><a href="{% url "superevents:file-list" superevent.superevent_id %}">Data</a></td>
    </tr>
</table>
</div>
</div>
</div>
