*.swp
*~
*.pyc
django-*.wsgi
static-collected
static/admin/
static/rest_framework/
static/debug_toolbar/
doc/build/*
doc/build/.buildinfo
admin_doc/build/*
admin_doc/build/.buildinfo
settings/settings_secret.py
