*.swp
*~
*.pyc
django-*.wsgi
docs/user_docs/build/*
docs/admin_docs/build/*
settings/secret.py
settings/local.py
static-collected
static/admin/
static/rest_framework/
static/debug_toolbar/
static/django_extensions/
static/guardian/
