ConcurrentLogHandler==0.9.1
cryptography==3.3.2
Django==3.2.9
django-debug-toolbar==3.2.2
django-extensions==2.2.9
django-guardian==2.4.0
django-model-utils==4.2.0
django-ses==2.3.0
django-silk==4.2.0
django-twilio==0.13.2
django-user-sessions==1.7.1
djangorestframework==3.12.2
djangorestframework-guardian==0.3.0
dnspython==1.15.0
flake8==3.8.0
gssapi==1.6.14
gunicorn==20.0.4
html5lib==1.1.0
ipdb==0.13.6
ipython==7.21.0
lalsuite==6.82 # undocumented requirement for lscsoft-glue
python-ligo-lw==1.7.1 # adding support ligo un-ilwdchar'ed events
ligo-lvalert==1.5.6
# Temporary pin of lvalert-overseer for Python 3 update
git+https://git.ligo.org/lscsoft/lvalert-overseer.git@e905ed8c888fcc8f31eb881cbfed7c5d7d1612a3#egg=ligo-lvalert-overseer
# Temporary pin of igwn_alert_overseer (kafka update)
git+https://git.ligo.org/lscsoft/lvalert-overseer.git@27d29599d2c079d8df3a8049e159bb03ba974a4a
lscsoft-glue==2.0.0
lxml==4.6.0
matplotlib==3.3.4
mock==2.0.0
numpy==1.20.0
packaging==17.1
phonenumbers==8.10.22
psycopg2==2.8.6
python-ldap==3.3.1
python3-memcached==1.51
scipy==1.6.1
sentry-sdk==0.7.10
service_identity==21.1.0
simplejson==3.15.0
six==1.16.0
Sphinx==1.7.0
sphinx-rtd-theme
twilio==6.10.3
voevent-parse==1.0.3
# Do NOT upgrade pyparsing beyond 2.3.0 (even to 2.3.1) without carefully
# testing and modifying the search query code. There were a number of
# problematic API changes in 2.3.1 and beyond that will need to be handled
# appropriately.
pyparsing==2.3.0
pytest==6.2.2
pytest-cov==2.11.1
pytest-django==4.1.0
pytz==2021.1
# Fixed at old versions to prevent bugs:
# https://github.com/fritzy/SleekXMPP/issues/477
# https://github.com/etingof/pyasn1/issues/112
pyasn1==0.3.7
pyasn1-modules==0.1.5
# retry bandaid for efs errors:
retry==0.9.2
# okay...
setuptools==54.2.0
