{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/admin-nav.css" %}" />
{% endblock %}


{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}
<ul id="nav">
    <li id="nav-home"><a href="{% url "home" %}">Home</a></li>
    <li id="nav-search"><a href="{% url "search" %}">Search</a></li>
    <li id="nav-create"><a href="{% url "create" %}">Create</a></li>
    <li id="nav-reports"><a href="{% url "reports" %}">Reports</a></li>
    <li id="nav-feeds"><a href="{% url "feeds" %}">RSS</a></li>
    <li id="nav-userprofile"><a href="{% url "userprofile-home" %}">Options</a></li>
    {% if user %}<li id="nav-user">Authenticated as:
                 {{ user.first_name }} {{ user.last_name }}</li>{% endif %}
<ul>
{% endblock %}
