{% extends "base.html" %}
{% load static %}

{% block headcontents %}
    {{ block.super }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />
{% endblock %}

{% block jscript %}
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#tabs").toggle();
    $("#tabs").tabs({active: {{ idx }}});
});
</script>
{% endblock %}

{% block title %}Options | Create Contact{% endblock %}
{% block heading %}Create Contact{% endblock %}
{% block pageid %}alerts{% endblock %}



{% block content %}

<br />
<div style="padding: 10px;">
<h3>Instructions</h3>
<ul>
    <li>Choose a notification type (email or phone).</li>
    <li>A description is required.</li>
    <li>For phone notifications, choose call, text, or both.</li>
    <li><b>IMPORTANT: after your contact is created, it must be verified before you can receive notifications.</b> You can verify contacts on the previous page where a list of your available contacts is shown.</li>
</ul>
</div>

<div id="tabs" style="min-width: 300px; max-width: 800px; display: none;">
  <ul>
    {% for form in forms %}
    <li><a href="#tab-{{ forloop.counter }}">{{ form.key|title }} Notification</a></li>
    {% endfor %}
  </ul>
  {% for form in forms %}
  <div id="tab-{{ forloop.counter }}">
    <form method="POST" class="contactform">
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit" />
    </form>
  </div>
  {% endfor %}
</div>


{% endblock %}
