{% extends "base.html" %}

{% load timeutil %}
{% load scientific %}


{% block title %}Latest{% endblock %}
{% block heading %}<h5>Latest as of {% now "j F Y H:i:s T" %} </h5> <hr>{% endblock %}
{% block pageid %}latest{% endblock %}


{% block headcontents %}
    {{ block.super }}
{% if not form.errors %}
    <meta http-equiv="refresh" content="300;url={{ request.build_absolute_uri }}">
{% endif %}

{% endblock %}

{% block content %}

<p>Test and MDC events and superevents are not included in the search results by default; see the <a href="/documentation/queries.html" target="_blank">query help</a> for information on how to search for events and superevents in those categories.</p>
<!-- Search form -->
<form method="GET" name="search_form">
    <table>
        {{ form.as_table }}
    <td><center><input type="Submit" value="Search" class="btn btn-sm btn-primary"></center></td>
    </table>
</form>
<br>

{% if events %}

<h5> Tap on entry for detailed information </h5>
<table class="table table-hover table-responsive table-basic-info">
  <thead>
    <tr class="header-row">
        <th>UID</th>
        <th>Labels</th>
        <th>Pipeline</th>
        <th>
            {{ "gps"|timeselect:"gps" }}
        </th>
        <th>FAR (Hz)</th>
        <th>
            {{ "created"|timeselect:"utc" }}
        </th>
    </tr>
  </thead>


{% for ev in events %}
  <tbody>
    <tr data-toggle="collapse" data-target="#{{ ev.graceid }}" class="accordian-toggle collapse-row collapsed">
        <td><a class="no-collapse-link" href="{% url "view" ev.graceid %}">{{ ev.graceid }}</a></td>
        <td>
             {% for labelling in ev.labelling_set.all %}
                <span title="{{labelling.creator.name}}  {{labelling.created|utc}}" style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
             {% endfor %}
        </td>
        <td>{{ ev.pipeline.name }} </td>
        <td>{% if ev.gpstime%}
                <!-- <span title="{{ ev.gpstime|gpsdate }}">{{ ev.gpstime }}</span> -->
                <!-- {{ ev.gpstime|floatformat:"0" }} -->
                {{ ev.gpstime|multiTimeMicroSeconds:"gps" }}
            {% endif %}</td>
        <!-- this is a bug. The far should be floored for display purposes. --> 
        {% if user_is_external %}
            {% if ev.far and ev.far < far_floor %} 
            <td>&lt; {{ far_floor|scientific }}</td>
            {% else %}
            <td>{{ ev.far|scientific }}</td>
            {% endif %}
        {% else %}
        <td>{{ ev.far|scientific }}</td>
        {% endif %}
        <td>{{ ev.created|multiTime:"created" }}</td>
    </tr>
    <tr>
        <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="{{ ev.graceid }}">
          <div class="container-sm p-3 my-3">
            <table class="table-sm">
             <thead>
              <tr>
               <th>Additional Event Information<th>
              </tr>
             </thead>
             <tbody>
              <tr>
               <td><b>Group:</b></td>
               <td>{{ ev.group.name }}</td>
              </tr>

              <tr>
               <td><b>Search:</b></td>
               <td>{{ ev.search.name }}</td>
              </tr>

              <tr>
               <td><b>Instruments:</b></td>
               <td>{{ ev.instruments }}</td>
              </tr>

              <tr>
               <td><b>Latency (s):</b></td>
               <td>{{ ev.reportingLatency|floatformat:"-3" }}</td>
              </tr>

               </tr>
             </tbody>
             </table>
             <br>
             <a href="{% url "view" ev.graceid %}" class="btn btn-success" role="button">Continue to {{ev.graceid}} Event Page</a>
          </div> 
        </div></td>
    </tr>

{% endfor %}
  </tbody>
</table>

{% elif superevents %}

<!-- Superevent listing -->
<h5> Tap on entry for detailed information </h5>
<table class="table table-hover table-responsive table-basic-info">
  <thead> 
    <tr class="header-row">
        <th>UID</th>
        <th>Labels</th>
        {% if user.is_authenticated %}
        <th>Preferred Event</th>
        {% endif %}
        <th>FAR (Hz)</th>
        <th>
            {{"created"|timeselect:"utc" }}
        </th>
    </tr>
  </thead>


{% for sv in superevents %}
  <tbody>
    <tr data-toggle="collapse" data-target="#{{ sv.superevent_id }}" class="accordian-toggle collapse-row collapsed">

        <td><a class="no-collapse-link" href="{% url "superevents:view" sv.superevent_id %}" >{{ sv.superevent_id }}</a></td>
        <td>
             {% for labelling in sv.labelling_set.all %}
                <span title="{{labelling.creator.name}}  {{labelling.created|utc}}" style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
             {% endfor %}
        </td>

        {% if user.is_authenticated %}
        <td><a class="no-collapse-link" 
               href="{% url "view" sv.preferred_event.graceid %}"
               data-toggle="tooltip"
               data-placement="top"
               data-html="true"
               title="<b>{{ sv.preferred_event.graceid }}</b><br>
                      <b>Pipeline:</b> {{ sv.preferred_event.pipeline.name }}<br>
                      <b>FAR (Hz):</b> {{ sv.preferred_event.far|scientific }}  ">{{ sv.preferred_event.graceid }}</a></td>
        {% endif %}

        {% if user_is_external %}
            {% if sv.preferred_event.far and sv.preferred_event.far < far_floor %} 
            <td>&lt; {{ far_floor|scientific }}</td>
            {% else %}
            <td>{{ sv.preferred_event.far|scientific }}</td>
            {% endif %}
        {% else %}
        <td>{{ sv.preferred_event.far|scientific }}</td>
        {% endif %}
        <td>{{ sv.created|multiTime:"created" }}</td>

    </tr>

    <tr>
        <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="{{ sv.superevent_id }}">
          <div class="container-sm p-3 my-3">

            <!-- Superevent Table -->
            <table class="table-sm">
             <thead>
              <tr>
               <th>Additional Superevent Information<th>
              </tr>
             </thead>
             <tbody>
             {% if user.is_authenticated %}
              <tr>
               <td><b>GW Events:</b></td>
               <td>
                {% for ev in sv.get_internal_events %}
                    {% if forloop.last %}
                        <a class="no-collapse-link" href="{% url "view" ev.graceid %}"
                           data-toggle="tooltip"
                           data-placement="top"
                           data-html="true"
                           title="<b>{{ ev.graceid }}</b><br>
                                  <b>Pipeline:</b> {{ ev.pipeline.name }}<br>
                                  <b>FAR (Hz):</b> {{ ev.far|scientific }}">{{ ev.graceid }}</a>
                    {% else %}
                        <a class="no-collapse-link" href="{% url "view" ev.graceid %}"
                           data-toggle="tooltip"
                           data-placement="top"
                           data-html="true"
                           title="<b>{{ ev.graceid }}</b><br>
                                  <b>Pipeline:</b> {{ ev.pipeline.name }}<br>
                                  <b>FAR (Hz):</b> {{ ev.far|scientific }}">{{ ev.graceid }}</a>,
                    {% endif %}
                {% endfor %}
               </td>
              </tr>
             {% endif %}

              <tr>
               <td><b>t<sub>start</sub>:</b></td>
               <td>{{ sv.t_start|floatformat:"-3" }} </td>
              </tr>

              <tr>
               <td><b>t<sub>0</sub>:</b></td>
               <td>{{ sv.t_0|floatformat:"-3" }} </td>
              </tr>

              <tr>
               <td><b>t<sub>end</sub>:</b></td>
               <td>{{ sv.t_end|floatformat:"-3" }} </td>
              </tr>
               </tr>
             </tbody>
             </table>
             <br>
             <a href="{% url "superevents:view" sv.superevent_id %}" class="btn btn-primary" role="button">Continue to {{ sv.superevent_id }} Superevent Page</a>

            <!-- Preferred Event Table -->
            <br>
            {% if user.is_authenticated %}
            <br>
            <table class="table-sm">
             <thead>
              <tr>
               <th>Preferred Event Information<th>
              </tr>
             </thead>
             <tbody>
               <tr>
                 <td><b>Event ID:</b></td>
                 <td><a href="{% url "view" sv.preferred_event.graceid %}">{{ sv.preferred_event.graceid }}</a></td>
               </tr>
    
               <tr>
                 <td><b>Pipeline:</b></td>
                 <td>{{ sv.preferred_event.pipeline }}</td>
               </tr>

               <tr>
                 <td><b>Instruments:</b></td>
                 <td>{{ sv.preferred_event.instruments }}</td>
               </tr>

               <!-- CoincInpsiralEvent Table -->
               {% if sv.preferred_event.coincinspiralevent %}
               <tr>
                 <td><b>SNR:</b></td>
                 <td>{{ sv.preferred_event.coincinspiralevent.snr|floatformat:"-2" }}</td>
               </tr>

               <tr>
                 <td><b>Chrip Mass:</b></td>
                 <td>{{ sv.preferred_event.coincinspiralevent.mchirp|floatformat:"-2" }}&nbsp;M<sub>&#x2299;</sub></td>
               </tr>

               {% for sngl in sv.preferred_event.coincinspiralevent.singleinspiral_set.all %}
               <tr>
                 <td><b>{{ sngl.ifo }} SNR:</b></td>
                 <td>{{sngl.snr|floatformat:"-2"}}</td>
               </tr>
               {% endfor %}

               {% elif sv.preferred_event.multiburstevent %}
               <tr>
                 <td><b>SNR:</b></td>
                 <td>{{ sv.preferred_event.multiburstevent.snr|floatformat:"-2" }}</td>
               </tr>

               {% endif %}
               <!-- end CoincInpsiralEvent Table -->

             </tbody>
             </table>
             <br>
             <a href="{% url "view" sv.preferred_event.graceid %}" class="btn btn-success" role="button">Continue to {{ sv.preferred_event.graceid }} Event Page</a>
             {% endif %}

          </div> 
        </div></td>
    </tr>

{% endfor %}
  </tbody>
</table>


{% else %} <!-- !events -->
<h5>No results. Please login to see complete results.</h5>
{% endif %} <!-- if eventss -->

     <script type="text/javascript">
        $('.no-collapse-link').on('click', function (e) {
            e.stopPropagation();
        });
     </script>

{% endblock %}
