{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block heading %}<h5>Search for events or superevents</h5><hr>{% endblock %} 
{% block pageid %}search{% endblock %}

{% block content %}

<p>
Use this form to query candidate events and superevents in GraceDB. Please refer to
the <a href="/documentation/queries.html" target="_blank">Query Help Documentation</a>
for assistance. Test/MDC events and superevents are not included in the search
results by default.
</p>

<div class="container" style="width:85%">
  <form method="GET" name="search_form">
    <div class="form-group">
      {{ form.query.errors }}
      <label for="{{ form.query.id_for_label }}">Query:</label>
      {{ form.query }}
    </div>

    <div class="form-group">
      {{ form.query_type.errors }}
      <label for="{{ form.query_type.id_for_label }}">Search For:</label>
      {{ form.query_type }}
    </div>

    <div class="form-group">
      {{ form.get_neighbors.errors }}
      {{ form.get_neighbors }}
      <label for="{{ form.get_neighbors.id_for_label }}">Get Event Neighbors</label>
    </div>

    <input type="Submit" value="Search" class="searchButtonClass btn btn-sm btn-primary">
  </form>
</div>

<br>
<br>

{% if message_text is not None %}

<div class="alert alert-warning" role="alert">
  {{ message_text }}
</div>

{% endif %}

<!-- Search results table -->
{% if query_type == 'S' %}
<table id="flex_superevents"></table>
{% elif query_type == 'E' %}
<table id="flex_events"></table>
{% endif %}

{% if query_type == 'S' %}
<table id="searchForm" class="display" style="width:100%">
        <thead>
            <tr>
                <th>UID</th>
                <th>Labels</th>
                <th>FAR</th>
                <th>Preferred Event</th>
                <th>GW Events</th>
                <th>t<sub>0</sub></th>
                <th>Submitted:</th>
                <th>Submitted By:</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>UID</th>
                <th>Labels</th>
                <th>FAR</th>
                <th>Preferred Event</th>
                <th>GW Events</th>
                <th>t<sub>0</sub></th>
                <th>Submitted:</th>
                <th>Submitted By:</th>
            </tr>
        </tfoot>
    </table>
{% elif query_type == 'E' %}
<table id="searchForm" class="display" style="width:100%">
        <thead>
            <tr>
                <th>UID</th>
                <th>Labels</th>
                <th>Group</th>
                <th>Pipeline</th>
                <th>Search</th>
                <th>Event Time</th>
                <th>Instruments</th>
                <th>FAR</th>
                <th>Submitted:</th>
                <th>Submitted By:</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>UID</th>
                <th>Labels</th>
                <th>Group</th>
                <th>Pipeline</th>
                <th>Search</th>
                <th>Event Time</th>
                <th>Instruments</th>
                <th>FAR</th>
                <th>Submitted:</th>
                <th>Submitted By:</th>
            </tr>
        </tfoot>
    </table>
{% endif %}



<script type="text/javascript">
$(document).ready(function() {
    $('#searchForm').DataTable( {
        ajax:'{% url "mainsearch"  %}?query={{raw_query|urlencode}}&query_type={{query_type}}&results_format=F',
        processing: true,
        language:{
           processing: '<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>'
        },
        order:[[7,'dsc']],
    } );
} );
</script>
{% endblock %}
