{% extends "base.html" %}
{% load timeutil %}
{% load scientific %}

{% block title %}View {{ object.graceid }}{% endblock %}
{% block heading %}{% endblock %}

{% block content %}
<p>{{ message }}</p>

<table>
<tr><td valign="top">

<table class="event">
    {% if skyalert_authorized  %}
        <tr><td colspan="4">
           <a href="{% url skyalert object.graceid %}"><button type="button">Submit to Skyalert</button></a>
        </td></tr>
    {% endif %}

    <tr>
            <th valign="top">UID</th>
            <th>Labels</th>
            <th>Group</th>
            <th>Type</th>
            <th>
                {{ "gps"|timeselect:"gps" }}
                Event Time
            </th>
            <th>FAR</th>
            <th colspan="2">Links</th>
            <th>
                {{"created"|timeselect:"utc" }}
                Submitted
            </th>
    </tr>


    <tr>
        <td>{{ object.graceid }}</td>
        <td>
             {% for labelling in object.labelling_set.all %}
                <span title="{{labelling.creator.name}}  {{labelling.created|utc}}" style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
             {% endfor %}
        </td>
        <td>{{ object.group.name }} </td>
        <td>{{ object.get_analysisType_display }} </td>
        <td>{% if object.gpstime%}
                <!-- <span title="{{ object.gpstime|gpsdate }}">{{ object.gpstime }}</span> -->
                {{ object.gpstime|multiTime:"gps" }}
            {% endif %}</td>
        <td>{{ object.far|scientific }}</td>
        <td><a href="{{ object.weburl }}">Data</a></td>
        <td><a href="{{ object.wikiurl }}">Wiki</a></td>
        <td>{{ object.created|multiTime:"created" }}</td>
    </tr>

</table>

{% if nearby %}
    <p/>
    <h3>Neighbors</h3>
    <table class="event">
        <tr>
                <th valign="top">UID</th>
                <th>Labels</th>
                <th>Group</th>
                <th>Type</th>
                <th>
                    {{ "ngps"|timeselect:"gps" }}
                    Event Time
                </th>
                <th>FAR</th>
                <th colspan="2">Links</th>
                <th>
                    {{"ncreated"|timeselect:"utc" }}
                    Submitted
                </th>
        </tr>


        {% for delta, object in nearby %}
        <tr class={% cycle 'odd' 'even' %}>
            <td><a href="{% url view object.graceid %}">{{ object.graceid }}</a></td>
            <td>
                 {% for labelling in object.labelling_set.all %}
                    <span title="{{labelling.creator.name}}  {{labelling.created|utc}}" style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
                 {% endfor %}
            </td>
            <td>{{ object.group.name }} </td>
            <td>{{ object.get_analysisType_display }} </td>
            <td>{% if object.gpstime%}
                    {{ object.gpstime|multiTime:"ngps" }}
                {% endif %}</td>
            <td>{{ object.far|scientific }}</td>
            <td><a href="{{ object.weburl }}">Data</a></td>
            <td><a href="{{ object.wikiurl }}">Wiki</a></td>
            <td>{{ object.created|multiTime:"ncreated" }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if object.eventlog_set.count %}
  <p/>
  <h3>Event Log Messages</h3>
  <table class="event">
    <tr>
      <th>
        {{ "logtime"|timeselect:"utc" }}
        Log Entry Created
      </th>
      <th>Submitter</th>
      <th>File</th>
      <th>Comment</th>
    </tr>
  {% for log in object.eventlog_set.iterator %}
    <tr class={% cycle 'odd' 'even' %}>
        <td>{{ log.created|multiTime:"logtime" }}</td>
        <td>{{ log.issuer }}</td>
        <td><a href="{{ log.fileurl }}">{{ log.filename }}</a></td>
        <td>{{ log.comment|urlize }}</td>
    </tr>  
  {% endfor %}
  </table>
{% endif %}

</td>
<td rowspan="2" valign="top">

{% if eventdesc %}
<h3>Event Log File</h3>
    {{ eventdesc }}
    <br/>
{% endif %}

{% if userdesc %}
    <br/>
<h3>User Info</h3>
    {{ userdesc }}
    <br/>
{% endif %}

</td></tr></table>
{% endblock %}
