{% extends "base.html" %}
{% load timeutil %}

{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ title }}{% endblock %}
{% block pageid %}search{% endblock %}

{% block jscript %}
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>
{% endblock %}


{% block content %}
<p>{{ message }}</p>

{% if form %}
    <form action="{{ formAction }}"method="POST">
        {{ form.as_table }} <a href="{{queryLink}}">Link</a>
    </form>
    {% include "gracedb/query_help_frag.html" %}
{% endif %}

{% if object_list.count %}
<table class="event">
    <tr>
            <th>UID</th>
            <th>Labels</th>
            <th>Group</th>
            <th>Type</th>
            <th>
                {{ "gps"|timeselect:"gps" }}
                Event Time
            </th>
            <th colspan="2">Links</th>
            <th>
                {{"created"|timeselect:"utc" }}
                Submitted
            </th>
    </tr>

{% for obj in object_list %}
    <tr class={% cycle 'odd' 'even' %}>
        <td><a href="{% url view obj.graceid %}">{{ obj.graceid }}</a></td>
        <td>
             {% for labelling in obj.labelling_set.all %}
                <span title="{{labelling.creator.name}}  {{labelling.created|utc}}" style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
             {% endfor %}
        </td>
        <td>{{ obj.group }} </td>
        <td>{{ obj.get_analysisType_display }} </td>
        <td>{% if obj.gpstime%}
                <!-- <span title="{{ obj.gpstime|gpsdate }}">{{ obj.gpstime }}</span> -->
                {{ obj.gpstime|multiTime:"gps" }}
            {% endif %}
        </td>
        <td><a href="{{ obj.weburl }}">Data</a></td>
        <td><a href="{{ obj.wikiurl }}">Wiki</a></td>
        <td>{{ obj.created|multiTime:"created" }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
    <h3>No Events.</h3>
{% endif %}

{% endblock %}
