{% extends "gracedb/event_detail.html" %}

{% load scientific %}

{# Analysis-specific attributes for an LM event#}
{% block analysis_specific %}
<h3>Analysis-Specific Attributes</h3>

<table class="analysis_specific"> <tbody>
    <tr>
        <td>  <table class="event"> <tbody>
                    <tr> <th> ifos </th> <td> {{object.ifos}} </td> </tr> 
                    <tr> <th> end_time </th> <td> {{object.end_time}} </td> </tr>
                    <tr> <th> end_time_ns </th> <td> {{object.end_time_ns}} </td> </tr>
              </tbody></table>
        </td>
        <td>  <table class="event"> <tbody>
                    <tr> <th> mass </th> <td> {{object.mass|floatformat:"-4"}} </td> </tr> 
                    <tr> <th> mchirp </th> <td> {{object.mchirp|floatformat:"-4"}} </td> </tr>
                    <tr> <th> minimum_duration </th> <td> {{object.minimum_duration|scientific}} </td> </tr>
              </tbody></table>
        </td>
        <td>  <table class="event"> <tbody>
                    <tr> <th> snr </th> <td> {{object.snr|floatformat:"-4"}} </td> </tr> 
                    <tr> <th> false_alarm_rate </th> <td> {{object.false_alarm_rate|floatformat:"-4"}} </td> </tr>
                    <tr> <th> combined_far </th> <td> {{object.combined_far|scientific}} </td> </tr>
              </tbody></table>
        </td>

    </tr>
</tbody> </table> 
{% endblock %}
