{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ title }}{% endblock %}

{% block content %}
<p>{{ message }}</p>

{% if object_list.count %}
<table>
    <tr>    <th colspan="2">Approvals</th>
    </tr>
    <tr>
            <th>LIGO</th>
            <th>Virgo</th>
            <th>UID</th>
            <th>Submitter</th>
            <th>Group</th>
            <th>Type</th>
            <th>Web</th>
            <th>Wiki</th>
    </tr>

{% for obj in object_list %}
    <tr class={% cycle 'odd' 'even' %}>
        <!--
            https://archie.phys.uwm.edu/media/img/admin/icon-no.gif
            https://archie.phys.uwm.edu/media/img/admin/icon-yes.gif
        -->
        <td align="center">
            {% if obj.ligoApproved %}
                <img src="/media/img/admin/icon-yes.gif"/>
            {% else %}
                <img src="/media/img/admin/icon-no.gif"/>
            {% endif %}
        </td>
        <td align="center">
            {% if obj.virgoApproved %}
                <img src="/media/img/admin/icon-yes.gif"/>
            {% else %}
                <img src="/media/img/admin/icon-no.gif"/>
            {% endif %}
        </td>
        <td>{{ obj.graceid }}</td>
        <td>{{ obj.submitter }} </td>
        <td>{{ obj.group }} </td>
        <td>{{ obj.get_analysisType_display }} </td>
        <td><a href="{{ obj.weburl }}">Web: {{ obj.graceid }}</a></td>
        <td><a href="{{ obj.wikiurl }}">Wiki: {{ obj.graceid }}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
    <h3>No Events.</h3>
{% endif %}

{% endblock %}
