{% extends "base.html" %}
{% load timeutil %}
{% load scientific %}
{% load sanitize_html %}
{% load logtags %}
{% block title %}View {{ object.graceid }}{% endblock %}
{% block heading %}{% endblock %}
{% block bodyattrs %}class="tundra eventDetail"{% endblock %}

{% block jscript %}
    {# XXX http/https depending on this pages' protocol #}
    <script type="text/javascript"
      src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="http{% if request.is_secure %}s{% endif %}://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/labeltips.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/labeltips.css">
    <style>
        .emptyIcon{
            background-image: none;
            background-position: center center;
            background-repeat: no-repeat;
            height: 10px;
            width: 10px;
        }
    </style>
    <script type="text/javascript">
        //------------------------------------------------------------------------------------------------------------------------
        //------------------------------------------------------------------------------------------------------------------------
        // Generate an array, the elements of which contain the inner html for each thematic digest
        //------------------------------------------------------------------------------------------------------------------------
        //------------------------------------------------------------------------------------------------------------------------
  
        function divFunction() {
        }

        function getDigests() {
            var digests = new Array();
{% for tag in object.getAvailableTags %}
    {% if tag.name in blessed_tags %}
                digest = new Object();
                digest.title = "{{tag|tagUnicode}}";
                digest.contents = "";
                digest.hasfigs = false;
                digest.figure_container_id = "";

                // A section for the images 
                var dc = "";
        {% if object|logsForTagHaveImage:tag.name %}        
                    digest.hasfigs = true;
                    digest.figure_container_id = "{{tag.name}}_figure_container";
                    dc += ' <div id="{{tag.name}}_figure_container"> \n';
                    dc += '     <table class="figure_container"> \n';
                    dc += '         <tr> \n';
            {% for log in object|getLogsForTag:tag.name %} 
                {% if log.hasImage %}
                    dc += '         <td> \n';
                    dc += '             <table class="figures"> \n';
                    dc += '                 <tr class="figrow"> \n';
                    dc += '                     <td>  <a href="{{ log.fileurl }}" dojoType="dojox.image.LightboxNano"><img height="180" src="{{ log.fileurl }}"></a> \n';
                    dc += '                     </td> \n';
                    dc += '                 </tr> \n';
                    dc += '                 <tr> \n';
                    dc += '                     <td> {{log.comment|sanitize|escapejs}} \n';
                    {% if log.fileurl %} 
                    dc += '                         <a href="{{log.fileurl}}">{{log.filename}}.</a> \n';
                    {% endif %} 
                    dc += '                         Submitted by {{log.issuer}} on {{log.created}} \n';
                    dc += '                     </td> \n';
                    dc += '                 </tr> \n';
                    dc += '             </table> \n';
                    dc += '         </td> \n';
                {% endif %}
            {% endfor %}
                    dc += '         </tr> \n';
                    dc += '     </table> \n';
                    dc += ' </div> \n';
                    digest.contents += dc;
        {% endif %}
          
            // A section for the text-only captions 
        {% if object|logsForTagHaveText:tag.name %}
                    var dc = '';
                    dc += ' <table class="event"> \n';
                    dc += '     <tr> \n';
                    dc += '         <th>No.</th> \n';
                    dc += '         <th>{{ "logtime"|timeselect:"utc"|escapejs }} Log Entry Created</th> \n';
                    dc += '         <th>Submitter</th> \n';
                    dc += '         <th>Comment</th> \n';
                    dc += '     </tr> \n';
            {% for log in object|getLogsForTag:tag.name %} 
                {% if not log.hasImage %}
                    dc += '     <tr class="{% cycle 'odd' 'even'%}"> \n';
                    dc += '         <td>{{log.N}}</td> \n';
                    dc += '         <td>{{log.created|multiTime:"logtime"|escapejs}}</td> \n';
                    dc += '         <td>{{log.issuer.first_name}} {{log.issuer.last_name}}</td> \n';
                    dc += '         <td>{{log.comment|sanitize|escapejs}} \n';
                               {% if log.fileurl %}
                    dc += '             <a href="{{log.fileurl}}">{{log.filename}}</a> \n';
                                    // If this is a skymap.json file, we want a button.
                                    {% if log.filename == "skymap.json" %}
                    dc += '             <button type="button" data-dojo-type="dijit/form/Button" id="sV_button" class="modButtonClass">View in skymapViewer!</button> \n';                                   
                                    {% endif %}
                               {% endif %}
                    dc += '         </td> \n';
                    dc += '    </tr> \n';
                {% endif %}
            {% endfor %}
                    dc += '</table>';
                    digest.contents += dc;
        {% endif %}
                digests.push(digest);
    {% endif %} 
{% endfor %}
            return digests;
        }

        //------------------------------------------------------------------------------------------------------------------------
        //------------------------------------------------------------------------------------------------------------------------
        // Generate the html table for the full audit log
        //------------------------------------------------------------------------------------------------------------------------
        //------------------------------------------------------------------------------------------------------------------------
        function getAuditLogContents() {
            logs = new Array();
            tags = new Array();
            var ret = "";
            ret += '    <table class="event"> \n';
            ret += '    <tr> \n';
            ret += '        <th>No.</th> \n';
            ret += '        <th>{{ "logtime"|timeselect:"utc"|escapejs }} Log Entry Created</th> \n';
            ret += '        <th>Submitter</th> \n';
            ret += '        <th>Comment</th> \n';
            ret += '        <th>&nbsp;</th> \n';
            ret += '    </tr>\n';
{% for log in object.eventlog_set.iterator %}
            log = new Object();
            log.n = {{log.N}};
            log.button_id = "addtag_{{log.N}}";
            logs.push(log);
            ret += '    <tr class="{% cycle 'odd' 'even'%}"> \n';
            ret += '        <td>{{log.N}} \n';
            ret += '        <td>{{log.created|multiTime:"logtime"}}</td> \n';
            ret += '        <td>{{log.issuer.first_name}} {{ log.issuer.last_name}}</td> \n';
            ret += '        <td> \n';
            ret += '        <div class="tagButtonContainerClass"> \n'
    {% if object.getAvailableTags %}
        {%for tag in log.tag_set.all %} 
            tag = new Object();
            tag.name = "{{tag.name}}";
            tag.button_id = "del_button_{{log.N}}_{{tag.name}}";
            tag.n = "{{log.N}}";
            tags.push(tag);
            ret += '            <div class="tagDelButtonDivClass"> \n';
            ret += '            <button type="button" data-dojo-type="dijit/form/Button" id="' + tag.button_id + '" class="modButtonClass left"> \n';
            ret += '                &times; \n';
            ret += '            </button><button type="button" data-dojo-type="dijit/form/Button" class="modButtonClass right" disabled> \n';
            ret += '                ' + tag.name + ' \n';
            ret += '            </button> \n';
            ret += '            </div> \n';
        {% endfor %} 
    {% endif %}
            ret += '        <button type="button" data-dojo-type="dijit/form/Button" id="addtag_{{log.N}}" class="modButtonClass">&#43;</button> \n';
            ret += '        </div> \n';

            ret += '        {{log.comment|sanitize|escapejs}} \n';
    {% if log.fileurl %}
            ret += '            <a href="{{log.fileurl}}">{{log.filename}}</a> \n';
    {% endif %}
            ret += '        </td> \n';
            ret += '        <td> \n';
    {% if log.hasImage %}
            ret += '            <a href="{{ log.fileurl }}" dojoType="dojox.image.LightboxNano"><img height="60" src="{{ log.fileurl }}"></a> \n';
    {% endif %}
            ret += '        </td> \n';
            ret += '    </tr> \n';
{% endfor %}
            ret += '    </table>';
            return {'logContents':ret, 'logs':logs, 'tags':tags};
        }

        //------------------------------------------------------------------------------------------------------------------------
        //------------------------------------------------------------------------------------------------------------------------
        // The main Dojo action happens here.
        //------------------------------------------------------------------------------------------------------------------------
        //------------------------------------------------------------------------------------------------------------------------
        require(["dojo/dom",
                 "dojo/dom-style",
                 "dojo/parser",
                 "dojo/on",
                 "dojo/mouse",
                 "dojo/request",
                 "dojo/dom-form",
                 "dojo/dom-construct",
                 "dijit/Editor",
                 "dojox/editor/plugins/Save",
                 "dojox/editor/plugins/Preview",
                 "dijit/form/Button",
                 "dijit/form/TextBox",
                 "dijit/form/Form",
                 "dijit/TitlePane",
                 "dijit/Tooltip",
                 "dojox/layout/ScrollPane",
                 "dojo/store/Memory",
                 "dijit/form/ComboBox",
                 "dijit/Dialog",
                 "dojox/image/LightboxNano",
                 "dijit/_editor/plugins/TextColor",
                 "dijit/_editor/plugins/LinkDialog",
                 "dijit/_editor/plugins/ViewSource",
                 "dijit/_editor/plugins/NewPage",
                 "dijit/_editor/plugins/FullScreen",
                 "dojo/domReady!"], function (dom, domStyle, parser, on, mouse, request, domForm, domConstruct, Editor, Save, Preview, 
                                              Button, TextBox, Form, TitlePane, Tooltip, ScrollPane, Memory, ComboBox, Dialog) {

            parser.parse();

            //--------------------------------------------------------------------------------------------------------------------
            // Remember the blessed tags, if we have them.
            //--------------------------------------------------------------------------------------------------------------------
{% if blessed_tags %}
            var blessedTagStore = new Memory({
                data: [
    {% for bt in blessed_tags %}
                        {name:"{{bt}}"},
    {% endfor %}
                ]
            });
{% endif %}

            //--------------------------------------------------------------------------------------------------------------------
            // a utility function to get the callbacks for when the tag delete button is clicked.
            //--------------------------------------------------------------------------------------------------------------------
            function getTagDelCallback(tag) {
                return function() {
                    var tagUrl = "{% url "taglogentry" object.graceid "000" "temp" %}" 
                    tagUrl = tagUrl.replace("000",tag.n); 
                    tagUrl = tagUrl.replace("temp",tag.name); 
                    var tagResultDialog = new Dialog({ style: "width: 300px" }); 
                    var actionBar = domConstruct.create("div", { "class": "dijitDialogPaneActionBar" }); 
                    var tbnode = domConstruct.create("div", { 
                            style: "margin: 0px auto 0px auto; text-align: center;" 
                    }, actionBar); 
                    var tagButton = new Button({ 
                        label: "Ok", 
                        onClick: function(){ 
                        tagResultDialog.hide(); 
                    }}).placeAt(tbnode); 
                    request.del(tagUrl).then( 
                        function(text){ 
                            tagResultDialog.set("content", text); 
                            domConstruct.place(actionBar, tagResultDialog.containerNode); 
                            tagResultDialog.show(); 
                            location.reload(true); 
                        }, 
                        function(error){ 
                            tagResultDialog.set("content", "Error: " + error); 
                            domConstruct.place(actionBar, tagResultDialog.containerNode); 
                            tagResultDialog.show();  
                        });
                    } 
                }

            //--------------------------------------------------------------------------------------------------------------------
            // a utility function to get the callbacks for when the tag add button is clicked.
            //--------------------------------------------------------------------------------------------------------------------
            function getTagAddCallback(log) {
                return function() {
                    // Create the tag result dialog.
                    var tagResultDialog = new Dialog({ style: "width: 300px" }); 
                    var actionBar = domConstruct.create("div", { "class": "dijitDialogPaneActionBar" }); 
                    var tbnode = domConstruct.create("div", { 
                            style: "margin: 0px auto 0px auto; text-align: center;" 
                    }, actionBar); 
                    var tagButton = new Button({ 
                        label: "Ok", 
                        onClick: function(){ 
                        tagResultDialog.hide();
                        }
                    }).placeAt(tbnode); 

                    // Create the form
                    addTagForm = new Form();
                    var msg = "<p> Choose a tag \
                        name from the dropdown menu or enter a new one.  If you are \
                        creating a new tag, please also provide a display name. </p>";
                    domConstruct.create("div", {innerHTML: msg} , addTagForm.containerNode);

                    // Form for tagging existing log messages.
                    new ComboBox({
                        name: "existingTagSelect",
                        value: "",
    {% if blessed_tags %}                
                        store: blessedTagStore,
                        searchAttr: "name"
    {% endif %}
                    }).placeAt(addTagForm.containerNode);

                    new TextBox({
                        name: "tagDispName",
                    }).placeAt(addTagForm.containerNode);

                    new Button({
                        type: "submit",
                        label: "OK",
                    }).placeAt(addTagForm.containerNode);

                    // Create the dialoge
                    addTagDialog = new Dialog({
                        title: "Add Tag",
                        content: addTagForm,
                        style: "width: 300px"
                        });

                    // Define the form on submit handler
                    on(addTagForm, "submit", function(evt) {
                        evt.stopPropagation();
                        evt.preventDefault();
                        formData = addTagForm.getValues();
                        var tagName = formData.existingTagSelect;
                        var tagDispName = formData.tagDispName;
                        var tagUrl = "{% url "taglogentry" object.graceid "000" "temp" %}"
                        tagUrl = tagUrl.replace("000",log.n);
                        tagUrl = tagUrl.replace("temp",tagName);

                        request.post(tagUrl, {
                            data: {displayName: tagDispName}
                        }).then(
                            function(text){
                                tagResultDialog.set("content", text);
                                domConstruct.place(actionBar, tagResultDialog.containerNode);
                                tagResultDialog.show();
                                location.reload(true);
                            },
                            function(error){
                                tagResultDialog.set("content", "Error: " + error);
                                domConstruct.place(actionBar, tagResultDialog.containerNode);
                                tagResultDialog.show(); 
                            }
                       );
                       addTagDialog.hide();
                    });

                    // show the dialog
                    addTagDialog.show();
                }
            }

            //--------------------------------------------------------------------------------------------------------------------
            // Main processing begins here
            //--------------------------------------------------------------------------------------------------------------------
           
            // If we have blessed tags *and* some log messages have been tagged,
            // we will want some TitlePanes.
{% if blessed_tags and object.getAvailableTags %}
            var doingPanes = true;
{% else %}
            var doingPanes = false;
{% endif %}
            
            var ret = getAuditLogContents();
            var auditLogContents = ret.logContents;
            var tags = ret.tags;

            annotationsDiv = dom.byId("annotations");

            //-------------------------------------------------------------------
            // Set up the annotations section, depending on whether we're doing 
            // title panes with annotation digests.
            //-------------------------------------------------------------------
            if (doingPanes) {
                // Go and get me an array of objects.  
                var digests = getDigests();
                for (var i = 0; i<digests.length; i++) {
                    tp = new dijit.TitlePane({title:digests[i].title,
                                             content:digests[i].contents,
                                             open:true});
                    annotationsDiv.appendChild(tp.domNode);
                };


                // Handle event log seperately.  It will be closed by default.
                tp = new dijit.TitlePane({title:"Full Event Log",
                                         content:auditLogContents,
                                         open:false});
                annotationsDiv.appendChild(tp.domNode);


                // Deal with the figure containers.
                var figure_scrollpanes = new Array();
                for (var i = 0; i<digests.length; i++) {
                    if (digests[i].hasfigs) {
                        figure_scrollpanes.push(new dojox.layout.ScrollPane({
                                    orientation:"horizontal",
                                    style:"overflow:hidden;"},
                                    digests[i].figure_container_id));
                    }
                }
            } else {
{% if object.eventlog_set.count %}
                annotationsDiv.innerHTML += auditLogContents;
{% endif %}
            }

            //-------------------------------------------------------------------
            // Now that the annotations section has been added to the dom, we
            // can work on its functionality.
            //-------------------------------------------------------------------
            var logtitle = dom.byId("logmessagetitle");
            var logtext = dom.byId("newlogtext");

            var editor_div = dom.byId("editor");
            var preview_div = dom.byId("previewer");

            // A pane holder for the form that will tag new log messages.
            // I need it up here because we're going to integrate it with the
            // editor components.
            dojo.style(preview_div, { 'display':'none'});
            dojo.style(editor_div, { 'display':'none'});

            var button_element = dojo.create('button');
            dojo.place(button_element, logtitle, "right");
            var button = new Button({
                label: "Add Log Entry",
                state: "add",
                onClick: function(){
                    if (this.state == 'add') {
                        dojo.style(editor_div, {'display':'block'});
                        button.set('label', "Cancel Log Entry");
                        button.set('state', 'cancel');
                        editor.focus();
                    }
                    else {
                        dojo.style(editor_div, {'display':'none'});
                        dojo.style(preview_div, {'display':'none'});
                        button.set('label', "Add Log Entry");
                        button.set('state', 'add');
                        editor.set('value','');
                    }
                },
            }, button_element);

            var savebutton = new Save({
                    url: "{% url "logentry" object.graceid "" %}",
                    onSuccess: function (resp, ioargs) {
                        //this.inherited(resp, ioargs);
                        this.button.set("disabled", false);
                        location.reload(true);
                    },
                    onError: function (error, ioargs) {
                        //this.inherited(error, ioargs);
                        this.button.set("disabled", false);
                        alert("o hai " + error);
                    },
                    save: function(postdata) {
                    var newTagName = "analyst_comments";
                    var postArgs = {
                                url: this.url,
                                content: { comment: postdata, tagname: newTagName },
                                handleAs: "json"
                        };
                        this.button.set("disabled", true);
                        var deferred = dojo.xhrPost(postArgs);
                        deferred.addCallback(dojo.hitch(this, this.onSuccess));
                        deferred.addErrback(dojo.hitch(this, this.onError));
                        // Call whatever function is necessary to attach the tag
                        // or add to the postdata and handle in the django view?
                    }
            });

            var previewbutton = new Preview({
                _preview: function(){
                        var content = this.editor.get("value");
                        preview_div.innerHTML = editor.get('value');
                        dojo.style(preview_div, {
                            'display':'block',
                            'border': ".2em solid #900",
                            'padding': '10px'
                        });
                        MathJax.Hub.Queue(["Typeset",MathJax.Hub, preview_div]);
                    }
            });

            var editor = new Editor({
                 extraPlugins : ['foreColor','hiliteColor','|','createLink',
                                 'insertImage','fullscreen','viewsource','newpage', '|', previewbutton, savebutton]
            }, editor_div);

            // Connect up the tag addition buttons and add helptext.
            for (var i = 0; i<logs.length; i++) {
                log = logs[i];
                on(dom.byId(log.button_id), "click", getTagAddCallback(log));
                new Tooltip({ connectId: log.button_id, label: "tag this log message"});
            }

            // Connect up the tag deletion buttons and add helptext.
            for (var i = 0; i<tags.length; i++) {
                tag = tags[i];
                on(dom.byId(tag.button_id), "click", getTagDelCallback(tag));
                new Tooltip({ connectId: tag.button_id, label: "delete this tag"});
            }


            // Handle the post to skymapViewer button.
            var sV_button = dom.byId("sV_button");
            if (sV_button) {
                on(sV_button, "click", function() {
                    var embblog_json_url = "/gracedb/events/{{ object.graceid }}/embblog";
                    var embblog_json;
                    dojo.xhrGet({
                        url: embblog_json_url,
                        sync: true,
                        load: function(result) {
                            embblog_json = result;
                        }
                    });

                    // construct skymap.json url.
                    var skymap_json_url = "{% url "file" object.graceid "skymap.json" %}"
                    // fetch JSON content.
                    dojo.xhrGet({
                        url: skymap_json_url,
                        load: function(result) { 
                            // Find the form and set its value to the appropriate JSON        
                            sV_form = dom.byId("sV_form");
                            // Shove the skymap.json contents into the value for the second form field.
                            sV_form.elements[1].value = result; 
                            sV_form.elements[2].value = embblog_json; 
                            // Submit the form, which takes the user to the skymapViewer server.
                            sV_form.submit();
                        }
                    });
                });
            }

        });

    </script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/PageBreak.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/ShowBlockNodes.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/Preview.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/Save.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/Breadcrumb.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/FindReplace.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/PasteFromWord.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/InsertAnchor.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/CollapsibleToolbar.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/Blockquote.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/editor/plugins/resources/css/Smiley.css" />
<style>
        @import "https://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/tundra/tundra.css";
        a:hover .dojoxEnlarge {
            display: block !important;
        }
        .dojoxEnlarge {
            /* background: url(images/enlarge.png) no-repeat 0 0;*/
            top: -5px;
            left: -5px;
            margin: 0 !important;
            width: 16px;
            height: 16px;
        }
        .dojoxLoading {
            /* background: #333 url(images/loading-dark.gif) no-repeat center center;*/
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 2px solid #000;
            height: 24px;
            opacity: 0.8;
            filter: alpha(opacity=80);
            padding: 6px;
            width: 24px;
        }
    </style>
{% endblock %}

{% block content %}
<p>{{ message }}</p>

<!-- XXX This next bit is super hacky. -->
{% if can_expose_to_lvem %}
<div class="content-area">
<form action="{% url "modify_permissions" object.graceid %}" method="post">
    <input type="hidden" name="group_name" value="{{ lvem_group_name }}">
    <input type="hidden" name="action" value="expose">
    <input type="submit" value="Expose this event to LV-EM" class="permButtonClass">
</form>
</div>
{% elif can_protect_from_lvem %}
<div class="content-area">
<form action="{% url "modify_permissions" object.graceid %}" method="post">
    <input type="hidden" name="group_name" value="{{ lvem_group_name }}">
    <input type="hidden" name="action" value="protect">
    <input type="submit" value="Revoke LV-EM permissions for this event" class="permButtonClass">
</form>
</div>
{% endif %}

<div class="content-area">
{% block basic_info %}
<h3> Basic Info </h3>

<table class="event">
    {# {% if skyalert_authorized  %}  #}
    <!--    <tr><td colspan="4">
           <a href="{# {% url "skyalert" object.graceid %} #}"><button type="button">Submit to Skyalert</button></a>
        </td></tr> -->
    {# {% endif %} #}

    <tr>
            <th valign="top">UID</th>
            <th>Labels</th>
            <th>Group</th>
            <th>Pipeline</th>
            <th>Search</th>
            <th>Instruments</th>
            <th>
                {{ "gps"|timeselect:"gps" }}
                Event Time
            </th>
            <th>FAR (Hz)</th>
            <th>Links</th>
            <th>
                {{"created"|timeselect:"utc" }}
                Submitted
            </th>
    </tr>


    <tr>
        <td>{{ object.graceid }}</td>
        <td>
             {% for labelling in object.labelling_set.all %}
                <span onmouseover="tooltip.show(tooltiptext('{{labelling.label.name}}', '{{labelling.creator.name}}', '{{labelling.created|utc}}'));" onmouseout="tooltip.hide();"  style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
             {% endfor %}
        </td>
        <td>{{ object.group.name }} </td>
        <td>{{ object.pipeline.name }} </td>
        <td>{{ object.search.name }} </td>
        <td>{{ object.instruments }}</td>
        <td>{% if object.gpstime%}
                <!-- <span title="{{ object.gpstime|gpsdate }}">{{ object.gpstime }}</span> -->
                {{ object.gpstime|multiTime:"gps" }}
            {% endif %}</td>
        <td>{{ object.far|scientific }}</td>
        <td><a href="{{ object.weburl }}">Data</a></td>
        <td>{{ object.created|multiTime:"created" }}</td>
    </tr>

</table>
{% endblock %}
</div>

<div class="content-area">
{# Analysis-specific attributes #}
{% block analysis_specific %}
{# This block is empty in the base event_detail template #}
{% endblock %}
</div>

{# Enable post to skymap viewer #}
<div id="sV_form_div" style="display: none">

<form action="{{ SKYMAP_VIEWER_SERVICE_URL }}" id="sV_form"  method="post">
    <input type="hidden" name="skymapid" value="{{ object.graceid }}">
    <!-- <input type="hidden" name="json" value="{{ skymap_json }}"> -->
    <input type="hidden" name="json" value="blaargh">
    <input type="submit" value="View in skymapViewer!">
</form>
</div>

<!-- Neighbors Support refresh_neighbors() function -->
<script type="text/javascript">
    var refresh_neighbors= function() { alert("NOT SET YET"); };
    require(["dojo/dom", "dojo/html", "dojo/request", "dojo/domReady!"],
        function (dom, html, request) {
            refresh_neighbors = function(delta) {
                delta = delta.replace(/[ [\]]/g, "");
                if (delta.match(/^-?\d+$/) == null & delta.match(/^[-+]?\d+,[-+]?\d+$/) == null) {
                    alert("Bad neighborhood specified.")
                    return;
                }
                var neighborUrlPattern = "{% url "neighbors" object.graceid "000" %}"
                var neighbor_div = dom.byId("neighbors");
                neighborUrl = neighborUrlPattern.replace("000", delta);
                request(neighborUrl).then(
                    function(text){
                        html.set(neighbor_div, text, {parseContent:true} );
                    },
                    function(error){
                        inbox = '<input value="" size="6" onchange="refresh_neighbors(this.value)">'
                        html.set(neighbor_div, inbox+"<br>Failed to find neighbors.<br>"+error);
                    });
            };
        // refresh_neighbors("5");
    });
    require(["dijit/InlineEditBox", "dijit/form/NumberSpinner", "dijit/form/TextBox"]);

  </script>
  
  {% include "gracedb/neighbors_frag.html" %}
</p>

			<!-- Single Inspiral Data -->


			<div id="bulletin_board" data-dojo-type="dijit/TitlePane"
				data-dojo-props="title: 'EM Follow-up Bulletin Board', open: false">

				<div data-dojo-type="dijit/form/Form" id="myForm"
					data-dojo-id="myForm" encType="multipart/form-data" action=""
					method="">
				<script>
				 require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox"]);
				 </script>
				 
				<script type="dojo/on" data-dojo-event="reset">
        			return confirm('Press OK to reset widget values');
    			</script>

				<script type="dojo/on" data-dojo-event="submit">
        		if(this.validate()){
            		return confirm('Form is valid, press OK to submit');
        			}else{
            			alert('Form contains invalid data.  Please correct first');
            			return false;
        			}
       			 return true;
    			</script>

					<h2>Make a report here</h2>

<form method="POST" action="{% url "embblogentry" object.graceid "" %}">
<table>

<tr><td><a href=# onclick="alert('Define here what subclass of report this is:\n FOOTPRINT: There is or could be image data taken of the sky, with a specific instrument, at a specific time, in a specific waveband, as followup of a specific LVC alert.\n SOURCE: There is a candidate source at the given location, that could be associated with the given LVC alert.\n COMMENT: The primary purpose of this report is a human-written comment concerning the given LVC alert.'); return false;">
What type of report is this?</a></td>       <td><select name="eel_status">
<option value="FO">FOOTPRINT</option>
<option value="SO">SOURCE</option>
<option value="CO">COMMENT</option>
</select></td></tr>

<tr><td><a href=# onclick="alert('There is also Observation Status which is:\n OBSERVATION: has been done.\n PREDICTION: this report represents intent or future observation.\n TEST: This EEL is part of a test and has no astrophysical significance.\n NOT APPLICABLE: It is neither observation nor prediction.'); return false;">
Observation Status</a></td>       <td><select name="obs_status">
<option value="OB">OBSERVATION</option>
<option value="PR">PREDICTION</option>
<option value="TE">TEST</option>
<option value="NA">NOT APPLICABLE</option>
</select></td></tr>

<tr><td><a href=# onclick="alert('Group with which the LSC has signed a trust agreement, hereby providing data 
under its trust (required).'); return false;">
Which MOU Group provides this report?</a></td>       <td><select name="group">
{% for g in groups %}
<option value="{{ g }}">{{ g }}</option>
{% endfor %} </select> </td> </tr>



<tr><td><a href=# onclick="alert('An ID from the data owner to identify this footprint (optional).');return false;">
Your reference</a></td>   <td><input type="text" name="footprintID"/></td></tr>

<tr><td><a href=# onclick="alert('A natural language report.');return false;">
Report as text</a></td>         <td colspan=2><textarea name="comment" rows="8" cols="50"></textarea></td></tr>

<tr><td><a href=# onclick="alert('The name of the photon detector whose observational metadata is being recorded here (optional).');return false;">
Instrument</a></td>       <td><input type="text" name="instrument"> </td> </tr>

<tr><td><a href=# onclick="alert('Specify waveband of the observation. Vocabulary is taken from the UCD vocabulary, a Virtual Observatory standard. Waveband can be either wide (eg Radio) or narrow (eg Radio 200-400 MHz).');return false;">
Waveband</a></td>       <td colspan=2><select name="waveband">
<option value="em.gamma">Gamma rays part of the spectrum</option>
<option value="em.gamma.soft">Soft gamma ray (120 - 500 keV)</option>
<option value="em.gamma.hard">Hard gamma ray (&gt;500 keV)</option>
<option value="em.X-ray">X-ray part of the spectrum</option>
<option value="em.X-ray.soft">Soft X-ray (0.12 - 2 keV)</option>
<option value="em.X-ray.medium">Medium X-ray (2 - 12 keV)</option>
<option value="em.X-ray.hard">Hard X-ray (12 - 120 keV)</option>
<option value="em.UV">Ultraviolet part of the spectrum</option>
<option value="em.UV.10-50nm">Ultraviolet between 10 and 50 nm</option>
<option value="em.UV.50-100nm">Ultraviolet between 50 and 100 nm</option>
<option value="em.UV.100-200nm">Ultraviolet between 100 and 200 nm</option>
<option value="em.UV.200-300nm">Ultraviolet between 200 and 300 nm</option>
<option value="em.UV.FUV">Far-Infrared, 30-100 microns</option>
<option value="em.opt">Optical part of the spectrum</option>
<option value="em.opt.U">Optical band between 300 and 400 nm</option>
<option value="em.opt.B">Optical band between 400 and 500 nm</option>
<option value="em.opt.V">Optical band between 500 and 600 nm</option>
<option value="em.opt.R">Optical band between 600 and 750 nm</option>
<option value="em.opt.I">Optical band between 750 and 1000 nm</option>
<option value="em.IR">Infrared part of the spectrum</option>
<option value="em.IR.NIR">Near-Infrared, 1-5 microns</option>
<option value="em.IR.J">Infrared between 1.0 and 1.5 micron</option>
<option value="em.IR.H">Infrared between 1.5 and 2 micron</option>
<option value="em.IR.K">Infrared between 2 and 3 micron</option>
<option value="em.IR.MIR">Medium-Infrared, 5-30 microns</option>
<option value="em.IR.3-4um">Infrared between 3 and 4 micron</option>
<option value="em.IR.4-8um">Infrared between 4 and 8 micron</option>
<option value="em.IR.8-15um">Infrared between 8 and 15 micron</option>
<option value="em.IR.15-30um">Infrared between 15 and 30 micron</option>
<option value="em.IR.30-60um">Infrared between 30 and 60 micron</option>
<option value="em.IR.60-100um">Infrared between 60 and 100 micron</option>
<option value="em.IR.FIR">Far-Infrared, 30-100 microns</option>
<option value="em.mm">Millimetric part of the spectrum</option>
<option value="em.mm.1500-3000GHz">Millimetric between 1500 and 3000 GHz</option>
<option value="em.mm.750-1500GHz">Millimetric between 750 and 1500 GHz</option>
<option value="em.mm.400-750GHz">Millimetric between 400 and 750 GHz</option>
<option value="em.mm.200-400GHz">Millimetric between 200 and 400 GHz</option>
<option value="em.mm.100-200GHz">Millimetric between 100 and 200 GHz</option>
<option value="em.mm.50-100GHz">Millimetric between 50 and 100 GHz</option>
<option value="em.mm.30-50GHz">Millimetric between 30 and 50 GHz</option>
<option value="em.radio">Radio part of the spectrum</option>
<option value="em.radio.12-30GHz">Radio between 12 and 30 GHz</option>
<option value="em.radio.6-12GHz">Radio between 6 and 12 GHz</option>
<option value="em.radio.3-6GHz">Radio between 3 and 6 GHz</option>
<option value="em.radio.1500-3000MHz">Radio between 1500 and 3000 MHz</option>
<option value="em.radio.750-1500MHz">Radio between 750 and 1500 MHz</option>
<option value="em.radio.400-750MHz">Radio between 400 and 750 MHz</option>
<option value="em.radio.200-400MHz">Radio between 200 and 400 MHz</option>
<option value="em.radio.100-200MHz">Radio between 100 and 200 MHz</option>
<option value="em.radio.20-100MHz">Radio between 20 and 100 MHz</option>
                                </select></td></tr>
<tr><td><a href=# onclick="alert('RA and Dec specify a center point of a rectangle that is aligned equatorially. Or list of centers. They must be in decimal degrees 0<=RA<=360 -90<=Dec<=90, in the J2000 frame.');return false;">
RA (decimal degrees)</a></td>             <td><input type="text" name="ra" value="0.0" size=80/></td></tr>

<tr><td><a href=# onclick="alert('RA and Dec specify a center point of a rectangle that is aligned equatorially. Or list of centers. They must be in decimal degrees 0<=RA<=360 -90<=Dec<=90, in the J2000 frame.');return false;">
Dec (decimal degrees)</a></td>            <td><input type="text" name="dec" value="0.0" size=80/></td></tr>

<tr><td><a href=# onclick="alert('RAWidth and DecWidth specify the size of a a rectangle that is aligned equatorially. Thus the edge of the box is distant from the center by half of the width.');return false;">
RAwidth (decimal degrees)</a></td>        <td><input type="text" name="raWidth" value="0.0"/></td></tr>

<tr><td><a href=# onclick="alert('RAWidth and DecWidth specify the size of a a rectangle that is aligned equatorially. Thus the edge of the box is distant from the center by half of the width.');return false;">
Decwidth (decimal degrees)</a></td>       <td><input type="text" name="decWidth" value="0.0"/></td></tr>

<script language="javascript" type="text/javascript" src="https://losc.ligo.org/s/js/gpstimeutil.js"></script>
<script language="javascript" type="text/javascript" src="https://losc.ligo.org/s/js/sexg.js"></script>


<tr><td><a href=# onclick="alert('The time at the center of a time interval during which the observation was taken. Or list of times.');return false;">
GPStime</a></td>
<td><input type="text" name="gpstime" value="1090000000" size=80/></td>
<!--
<td><input onKeyUp="return TIMEcopy(2,1);" id="TIMEgps1" name="gpstime" maxlength="12" size="20" value="1000000000"/></td>
<td><input onKeyUp="return TIMEcopy(1,1);" id="TIMEiso1" name="TIMEiso1" maxlength="25" size="25" value="2011-09-14T01:46:25"/></td>
<td><span id="TIMEerr1" STYLE="font: 12px Arial; color:red">OK</span><br/></td>
-->
</tr>


<tr><td><a href=# onclick="alert('Duration is the number of seconds in the time interval during which the observation was taken.');return false;">
Duration (seconds)</a></td>       <td><input type="text" name="duration" value="10"/></td></tr>

<tr><td><a href=# onclick="alert('This section allows for machine-readable data to be included in a flexible way. any key can be any value in a JSON dictionary. There is a useful validator at http://jsonlint.com.');return false;">
JSON data</a></td>       <td colspan=2><textarea name="extra_info_dict"  cols="50">{"phot.mag.limit": 22.3}</textarea></td></tr>
</table>
<input type="submit" value="Submit"/>
</form>


				</div>

				<!-- Bulletin Board Log -->
				<div data-dojo-type="dijit/TitlePane"
                {% if object.embbeventlog_set.count > 0 %}
					data-dojo-props="title: 'Bulletin Board Log', open: true">
                {% else %} 
					data-dojo-props="title: 'Bulletin Board Log', open: false">
                {% endif %}
<table id="bb_2" class="event" border="1" 
style="table-layout:fixed; width:100%;word-wrap:break-word;">
						<thead>
							<tr>
								<th>Date</th>
								<th>Submitter</th>
								<th>MOU Group</th>
								<th>Instrument</th>
								<th>Footprint ID</th>
								<th>Waveband</th>
								<th>RA</th>
								<th>DEC</th>
								<th>RAwidth</th>
								<th>Decwidth</th>
								<th>GPS Time</th>
								<th>Duration</th>
								<th>EEL Type</th>
								<th>Obs status</th>
								<th>Comment</th>
								<th>JSON Data</th>
							</tr>
						</thead>
						
						  <tbody id="bb_log" >
							{% for eel in object.embbeventlog_set.iterator %}
<tr>
<td>{{ eel.created }}</td> 
<td>{{ eel.submitter }}</td> 
<td>{{ eel.group }}</td> 
<td>{{ eel.instrument }}</td>
<td>{{ eel.footprintID }}</td> 
<td>{{ eel.waveband }}</td> 
<td>{{ eel.ra }}</td> 
<td>{{ eel.dec }}</td> 
<td>{{ eel.raWidth }}</td> 
<td>{{ eel.decWidth }}</td> 
<td>{{ eel.gpstime }}</td> 
<td>{{ eel.duration }}</td> 
<td>{{ eel.eel_status }}</td> 
<td>{{ eel.obs_status }}</td> 
<td>{{ eel.comment|truncatewords:40 }}</td> 
<td>{{ eel.extra_info_dict }}</td> 
</tr>
							{% endfor %}
  						</tbody>
						
						</table>
				</div>
</div>


<p>&nbsp; </p>
<div id="annotations" class="content-area">

    <div id="new_log_entry_form">
    <noscript>
        <h3>Create a new log entry</h3>
        <form id="newlog" action="{% url "logentry" object.graceid "" %}" method="POST">
            <p>
              <textarea id="newlogtext" name="comment" style="width:300px;display:block"></textarea>
              <input type="submit" value="Submit"/>
            </p>
        </form>
    </noscript>
  </div>

    <h3 id="logmessagetitle">Event Log Messages</h3>
    <div id="previewer"></div>
    <div id="editor"></div>

</div> 
{% endblock %}

<!-- Single Inspiral Data -->
