{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block heading %}GlitchDB Overview{% endblock %}
{% block pageid %}home{% endblock %}
{% block jscript %}
    <style>
        .question {
            font-family: Helvetica, sans-serif;
            /*font-variant: small-caps; */
            font-style: bold;
            font-size: 18px;
            padding-bottom: 5px;
        }

        .answer {
            margin-left: 30px;
            margin-right: 30px;
            font-size: 14px;
            background-color: #e2ebf2;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
{% endblock %}

{% block content %}
<!-- I find myself needing some more space. -->
<br/> 


<div class="text">

<p> The glitch database (GlitchDB) is a
prototype system to organize candidate glitch events
and to provide an environment to record information about
follow-ups. This project is based on <a href="https://gracedb.ligo.org">GraceDB</a>. </p>

<ul>

<li><a href="https://www.lsc-group.phys.uwm.edu/daswg/wiki/GraceDBER6">Recent changes</a> <font color="red">(IMPORTANT!) </font></li>
<li><a href="https://www.lsc-group.phys.uwm.edu/daswg/wiki/HowtoGraceDb">Howto page</a></li>
<li><a href="https://www.lsc-group.phys.uwm.edu/daswg/projects/gracedb.html">DASWG Project page</a></li>
<li><a href="{% url "shib:api-root" %}">Browseable REST API</a>

</ul>

</div>


{% endblock %}
