{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block heading %}GraceDB <em>Alpha</em> &mdash; Overview{% endblock %}
{% block pageid %}home{% endblock %}

{% block content %}

<div class="text">

<p>
The gravitational-wave candidate event database (GraCEDb) is a
prototype system to organize candidate events from gravitational-wave
searches and to provide an environment to record information about
follow-ups.
</p>

<p>
You can read about using the service on the
<a href="https://www.lsc-group.phys.uwm.edu/daswg/wiki/HowtoGraceDb">Howto page</a>.  More details are available on the
<a href="https://www.lsc-group.phys.uwm.edu/daswg/projects/gracedb.html">Project page</a>.
</p>

</div>

<div class="text">
To receive email alerts when GraCEDb events are created, sign up
on the <a target="_blank" href="http://listserv.ligo.org/cgi-bin/mailman/listinfo/gracedb">gracedb mailing list</a> or set up your own alert under the
<a href="{% url "userprofile-home" %}">Options</a> menu item.
</div>

{% endblock %}
