{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block heading %}GraceDB{% endblock %}

{% block content %}

<p>
GraceDB.  An event database.
<a href="{% url search %}">Search events.</a>
<a href="{% url create %}">Create event.</a>
</p>

<h2>Overview</h2>
<p>
The gravitational-wave candidate event database (GraCEDb) is a
prototype system to organize candidate events from gravitational-wave
searches and to provide an environment to record information about
follow-ups. A simple client tool is provided in
<a href="https://www.lsc-group.phys.uwm.edu/daswg/projects/glue.html">Glue</a>
to submit a candidate event to the database.
You can read about using the service at the
<a href="https://www.lsc-group.phys.uwm.edu/daswg/wiki/HowtoGraceDb">Howto page</a>.  More details are available at the
<a href="https://www.lsc-group.phys.uwm.edu/daswg/projects/gracedb.html">Project page</a>.
</p>

{% endblock %}
