{% extends "base.html" %}

{% block bodyattrs %}
onload="document.search_form.query.focus();"
{% endblock %}

{% block title %}Search{% endblock %}
{% block heading %}Search{% endblock %}
{% block pageid %}search{% endblock %}

{% block jscript %}
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>
{% endblock %}

{% block content %}

<form method="POST" name="search_form">
  <table>
    {{ form.as_table }}
    <tr><td/><td><a onClick="toggle_visibility('hints');">Hints on querying</a></td>
    </tr>
    <tr><td/><td>{% include "gracedb/query_help_frag.html" %}</td></tr>
  </table>
</form>

<!-- Old style Query -->

{% if form2 %}
<a><h3 onClick="toggle_visibility('hiddenqueryform');">Guided Query</h3></a>
<div id="hiddenqueryform" style="display: none;">
    <form method="POST">
        <table>
            {{ form2.as_table }}
            <tr><td></td><td><input type="Submit"/></td></tr>
        </table>
    </form>
</div>
{% endif %}

{% endblock %}

