{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block heading %}Search{% endblock %}
{% block pageid %}search{% endblock %}

{% block jscript %}
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>
{% endblock %}

{% block content %}

<form method="POST">
  <table>
    {{ form.as_table }}
    <tr><td></td><td><input type="Submit"/></td></tr>
    <tr><td></td>
        <td>{% include "gracedb/query_help_frag.html" %}</td>
    </tr>
  </table>
</form>

<!-- Old style Query -->

{% if form2 %}
<hr/>
<h4>Simple Query</h4>
<div id="hiddenqueryform" class=hideableForm>
    <form method="POST">
        <table>
            {{ form2.as_table }}
            <tr><td></td><td><input type="Submit"/></td></tr>
        </table>
    </form>
</div>
{% endif %}

{% endblock %}

