{% extends "base.html" %}

{% block title %}RSS Feeds{% endblock %}
{% block heading %}GraceDB{% endblock %}

{% block content %}

<h2>RSS Feeds</h2>
<p>
<a href="/gracedb/feeds/latest/">All Latest Events</a>
  <ul>
    <li><a href="/gracedb/feeds/latest/burst/">Burst</a></li>
      <ul>
        <li><a href="/gracedb/feeds/latest/burst/omega">Omega</a></li>
        <li><a href="/gracedb/feeds/latest/burst/q">Q</a></li>
        <li><a href="/gracedb/feeds/latest/burst/x">X</a></li>
      </ul>
  </ul>

  <ul>
    <li><a href="/gracedb/feeds/latest/cbc/">CBC</a></li>
      <ul>
        <li><a href="/gracedb/feeds/latest/cbc/lowmass">Low Mass</a></li>
        <li><a href="/gracedb/feeds/latest/cbc/highmass">High Mass</a></li>
        <li><a href="/gracedb/feeds/latest/cbc/grb">GRB</a></li>
        <li><a href="/gracedb/feeds/latest/cbc/ringdown">Ringdown</a></li>
        <li><a href="/gracedb/feeds/latest/cbs/mbtaonline">MBTA Online</a></li>
      </ul>
  </ul>

  <ul>
    <li><a href="/gracedb/feeds/latest/stochastic/">Stochastic</a></li>
      <ul>
        <li><a href="/gracedb/feeds/latest/stochastic/cwb">CWB</a></li>
      </ul>
  </ul>
</p>

{% endblock %}
