<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% load static %}

      <!--Import bootstrap and custom colors-->
      <link type="text/css" rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/override.css" %}" />
      <link type="text/css" rel="stylesheet" href="{% static "/ekko-lightbox/dist/ekko-lightbox.css" %}" />
      <link rel="stylesheet" href="{% static "trumbowyg/dist/ui/trumbowyg.min.css" %}">
      <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Roboto+Mono&display=fallback">
      <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />

      <style>body,input{font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif}code,kbd,pre{font-family:"Roboto Mono","Courier New",Courier,monospace}</style>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% block headcontents %}

    {# remove requests for favicon #}
    <link rel="icon" href="data:,">
    <title>GraceDB | {% block title %}{% endblock %}</title>
    <!-- START TESTING -->
    <script type="text/javascript">
       function changeTime(obj, label) {
           //var timetype = obj.get("value");
           var timetype = obj.value;
           if (timetype=="") { return; }
           var times = document.getElementsByName("time-"+label);
           for (i=0; i<times.length; i++) {
               newtime =  times[i].getAttribute(timetype);
               times[i].innerHTML = newtime;
           }
       }
     </script>


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
     <script src="{% static "trumbowyg/dist/trumbowyg.min.js" %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
     <script src="{% static "ekko-lightbox/dist/ekko-lightbox.js" %}"></script>
     <!-- lightbox script --->
     <script type="text/javascript">
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                        event.preventDefault();
                        $(this).ekkoLightbox();
                    });
     </script>
     {% endblock %}
     <!-- END TESTING -->
     {% block jscript %}
     {% endblock %}




</head>

<body id="{% block pageid %}{% endblock %}"{% block bodyattrs %}{% endblock %}>


   {% block nav %}
       {% include "navbar_frag.html" %}
   {% endblock %}

   <div class="container">
            </br>


          {% if info_banner_enabled %}
            <div class="alert alert-info" role="alert">
               {% autoescape off%}
               {{ info_banner_message }}
               {% endautoescape%}
            </div>
          {% endif %}
        
           <h2>{% block heading %}Title{% endblock %}</h2>
               {% block content %}{% endblock %}

        
            <div class="row">
                <div class="col align-self-center">
                <center>
                <img height="36" src="{% static "images/kagra.png" %}" />
                <img height="36" src="{% static "images/ligo-blue.gif" %}" />
                <img height="36" src="{% static "images/LSC_logo50.png" %}" />
                <img height="36" src="{% static "images/Virgo_logo50.png" %}" />
                {% if user and user.username == "chad.hanna@LIGO.ORG" %}
                 <img width="194" height="37" src="{% static "images/PI_Logo-anim.gif" %}" />
                {% endif %}
                {% if user and user.username == "kipp.cannon@LIGO.ORG" %}
                 <img width="194" height="37" src="{% static "images/CITA_logo-anim.gif" %}" />
                {% endif %}
                </center>
            </div>
            </div>
    </div>


</body>
</html>
