{% extends "base.html" %}
{% load timeutil %}
{% load scientific %}
{% load sanitize_html %}
{% load logtags %}
{% block heading %}{% endblock %}
{% block bodyattrs %}class="tundra eventDetail"{% endblock %}

{% block jscript %}
{% endblock %}

{% block content %}

TBD:
<ul style="padding-bottom: 30px;">
<li>javascript update for labels</li>
<li>link for log message files, make sure to link to correct file version</li>
<li>event log tagging</li>
</ul>

<div id='event_detail_content'>

{% block superevent_info %}
<h2>Superevent Info</h2>
<table class="superevent">
    <tr>
        <th>Superevent ID</th>
        <th>Labels</th>
        <th>Preferred Event</th>
        <th>GW events</th>
        <th>External events</th>
    </tr>
    <tr>
        <td>{{ superevent.superevent_id }}</td>
        <td>{% for labelling in superevent.labelling_set.all %}
            <div style="color: {{ labelling.label.defaultColor }}"><b>{{ labelling.label.name }}</b></div>
            {% endfor %}
        </td>

        <td>
            {% if preferred_event %}
            <a href="{% url "view" preferred_event.graceid %}">{{ preferred_event.graceid }}</a>
            {% endif %}
        </td>
        <td>
            <div>
            {% for graceid in internal_events %}
            <a href="{% url "view" graceid %}">{{ graceid }}</a>
            {% endfor %}
            </div>
        </td>
        <td>
            <div>
            {% for graceid in external_events %}
            <a href="{% url "view" graceid %}">{{ graceid }}</a>
            {% endfor %}
            </div>
        </td>
    </tr>
</table>
{% endblock %}

<br />
<br />

{% if preferred_event %}
{% block basic_info %}
<h2>Preferred Event Info</h2>

<table class="event">
    <tr>
        <th valign="top">UID</th>
        <th>Labels</th>
        <th>Group</th>
        <th>Pipeline</th>
        <th>Search</th>
        <th>Instruments</th>
        <th>
            <div id="basic_info_event_ts"></div>
            <div> Event Time </div>
        </th>
        <th>FAR (Hz)</th>
        <th>FAR (yr<sup>-1</sup>)</th>
        <th>Links</th>
        <th>
            <div id="basic_info_created_ts"></div>
            <div> Submitted </div>
        </th>
    </tr>
    <tr>
        <td><a href="{% url "view" preferred_event.graceid %}">{{ preferred_event.graceid }}</a></td>
        <td>
             {% for labelling in preferred_event.labelling_set.all %}
                <span onmouseover="tooltip.show(tooltiptext('{{labelling.label.name}}', '{{labelling.creator.username}}', '{{labelling.created|utc}}', '{{labelling.label.description}}'));" onmouseout="tooltip.hide();"  style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
             {% endfor %}
        </td>
        <td>{{ preferred_event.group.name }} </td>
        <td>{{ preferred_event.pipeline.name }} </td>
        <td>{{ preferred_event.search.name }} </td>
        <td>{{ preferred_event.instruments }}</td>
        <td>{% if preferred_event.gpstime %}
                <!-- <span title="{{ preferred_event.gpstime|gpsdate }}">{{ preferred_event.gpstime }}</span> -->
                {{ preferred_event.gpstime|multiTime:"gps" }}
            {% endif %}</td>
        {# NOTE: XXX Using event_far so it can be floored for external users. #}
        <td>{% if far_is_upper_limit %} &lt; {% endif %}{{ display_far|scientific }}</td>
        <td>{% if far_is_upper_limit %} &lt; {% endif %}{{ display_far_yr }}</td>
        <td><a href="{{ preferred_event.weburl }}">Data</a></td>
        <td>{{ preferred_event.created|multiTime:"created" }}</td>
    </tr>
</table>
{% endblock %}
{% endif %}

</div>

<div class="content-area">
{% if user_is_external %}
{# Analysis-specific attributes which can be exposed to external partners #}
{% block external_analysis_specific %}
{# Empty by default #}
{% endblock %}
{% else %}
{# Analysis-specific attributes #}
{% block analysis_specific %}
{# This block is empty in the base event_detail template #}
{% endblock %}
{% endif %}
</div>

<!-- Form for creating new log messages -->
{% include "log_create_form.html" %}

<!-- Set of log messages -->
<h2>Full event log</h2>
<div style="padding-bottom: 20px">
<table>
<tr>
    <th>No.</th>
    <th>Log Entry Created</th>
    <th>Submitter</th>
    <th>Comment</th>
    <th>Tags</th>
</tr>
{% for log in logs %}
<tr>
    <td>{{ log.N }}</td>
    <td>{{ log.created }}</td>
    <td>{{ log.issuer }}</td>
    <td>{{ log.comment }}
        {% if log.filename %}
        {{ log.filename }}
        {% endif %}
    </td>
    <td>
    {% for tag in log.tags.all %}
    <div style="padding: 2px; display: inline; background-color: #000000; color: #FFFFFF;">{{ tag.displayName }}</div>
    {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
</div>

</div> <!-- end event_detail_content div -->
{% endblock %}

