/* CSS file for overriding other styles */

/* Lightbox image background */
.nano-image {
    background-color: white;
}

body {
  background-color: #f2f4f8;
  font: 12px;
}

.navbar-gracedb {
  background-color: #336699;
  border-color: #FFFFFF;
}

.table-latest {
  /*font-size: 12px;*/
  border-collapse: separate;
  border-spacing: 0px;
  margin: auto;
  width: 75% 
}

.collapse-row.collapsed + tr {
  display: none;
}


.table-detail {
  font-size: 12px;
  font-stretch: condensed;
  margin: auto;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  border-top: 0 dark !important;
  border-bottom: 0 dark !important;
}  

.table-detail-th {
  /*padding: 0 !important; */
  margin: 0 !important;
  border-top: 0 dark !important;
  border-bottom: 0 dark !important;
  border-spacing: 0 !important;
  outline:none;
  vertical-align: middle;
}

.neighborsTextBox.InlineEditBox.dijitFocused.dijitInputInner {
  background-color: red;
}
