/* CSS file for overriding other styles */

/* Lightbox image background */
.nano-image {
    background-color: white;
}

body {
  background-color: #f2f4f8;
  font: 1.0em;
}

.navbar-gracedb {
  background-color: #336699;
  border-color: #FFFFFF;
}

.table-latest {
  /*font-size: 10px;*/
  border-collapse: separate;
  border-spacing: 0px;
  border-bottom: 0px !important;
  border-top: 0px !important;
  margin: auto;
  /*width: 75% */
}

.collapse-row.collapsed + tr {
  display: none;
}


.table-detail {
  font-size: 1.0em;
  font-stretch: condensed;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-radius: 5px !important
}  

.table-detail-th {
  /*padding: 0 !important; */
  margin: 0 !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-spacing: 0px !important;
  outline:none;
  vertical-align: middle;
  text-align:left;
}

.table-detail-lh {
  /*padding: 0 !important; */
  margin: 0 !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-spacing: 0px !important;
  outline:none;
  vertical-align: bottom;
  text-align:center;
  font-weight:lighter;
}

.thead-gdbdark {
  color: #fff;
  background-color: #19538A;
  border-bottom: 0px;
  border-top: 0px;
  border-collapse: collapse;
}

/* Button Stuff */
.btn-group .button:first-child {
    border-radius: 8px 0 0 8px;
}

.btn-group .button:last-child {
    border-radius: 0 8px 8px 0;
}

/* Comment Textarea */
.trumbowyg-box,
.trumbowyg-editor {
  min-height: 150px;
}

@media only screen and (max-width: 800px) {
        /* Force table to not be like tables anymore */
        #gracedb-resp-table table,
        #gracedb-resp-table thead,
        #gracedb-resp-table tbody,
        #gracedb-resp-table th,
        #gracedb-resp-table td,
        #gracedb-resp-table tr {
        display: block;
        }
         
        /* Hide table headers (but not display: none;, for accessibility) */
        #gracedb-resp-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }
         
        #gracedb-resp-table tr { border: 1px solid #ccc; }
          
        #gracedb-resp-table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
        }
         
        #gracedb-resp-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        }
         
        /*
        Label the data
        */
        #gracedb-resp-table td:before { content: attr(data-title); }
        }
