{% extends "gracedb/event_detail.html" %}

{%load scientific %}

{# Analysis-specific attributes for a cWB event#}
{% block analysis_specific %}

<div class="row my-3 justify-content-md-center">
    <div class="col-md-10">
        <div id="table-coinc-event">
            <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
                <thead>
                    <tr>
                        <th colspan="2"><h3>Omicron SNR</h3></th>
                    </tr>
                </thead>
                <tr> <th class="collapsed-header"> Network </th> <td> {{object.omicron_snr_network|floatformat:"-4"}} </td> </tr> 
                <tr> <th class="collapsed-header"> H1 </th> <td> {{object.omicron_snr_H1|floatformat:"-4"}} </td> </tr> 
                <tr> <th class="collapsed-header"> L1 </th> <td> {{object.omicron_snr_L1|floatformat:"-4"}} </td> </tr> 
                <tr> <th class="collapsed-header"> V1 </th> <td> {{object.omicron_snr_V1|floatformat:"-4"}} </td> </tr> 
            </table>
        </div>
    </div>
</div>

<div class="row my-3 justify-content-md-center">
    <div class="col-md-10">
        <div id="table-coinc-event">
            <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
                <thead>
                   <tr> <th colspan="3"><h3>Posteriors</h3></th></tr>
                   <tr> <th></th><th>Mean</th><th>Median</th></tr>

                </thead>
                <tr> <th class="collapsed-header"> Frequency (Hz) </th> <td>{{object.frequency_mean|floatformat:"-4"}}</td> <td>{{object.frequency_median|floatformat:"-4"}}</td> </tr> 
                <tr> <th class="collapsed-header"> hrss </th> <td>{{object.hrss_mean|scientific}}           </td> <td>{{object.hrss_median|scientific}} </td> </tr> 
                <tr> <th class="collapsed-header"> Quality </th> <td>{{object.quality_mean|floatformat:"-4"}}  </td> <td>{{object.quality_median|floatformat:"-4"}}</td> </tr> 
            </table>
        </div>
    </div>
</div>

<div class="row my-3 justify-content-md-center">
    <div class="col-md-10">
        <div id="table-coinc-event">
            <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
                <thead>
                    <tr>
                        <th colspan="2"><h3>Additional oLIB Data</h3></th>
                    </tr>
                </thead>
                <tr> <th class="collapsed-header"> BCI </th> <td> {{object.bci|floatformat:"-4"}} </td> </tr> 
                <tr> <th class="collapsed-header"> BSN </th> <td> {{object.bsn|floatformat:"-4"}} </td> </tr> 
            </table>
        </div>
    </div>
</div>

{% endblock %}
