{% extends "gracedb/event_detail.html" %}

{%load scientific %}

{# Analysis-specific attributes for a cWB event#}
{% block analysis_specific %}

<div class="row my-3 justify-content-md-center">
    <div class="col-md-10">
        <div id="table-cwb">
            <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
                <thead>
                    <tr>
                        <th colspan="2"><h3>CWB Info</h3></th>
                    </tr>
                </thead>
                <tr> <th class="collapsed-header">  ifos  </th><td> {{object.ifos}} </td></tr>
                <tr> <th class="collapsed-header"> start_time </th><td> {{object.start_time}} </td> </tr>
                <tr> <th class="collapsed-header"> start_time_ns </th><td> {{object.start_time_ns}} </td> </tr>
                <tr> <th class="collapsed-header"> duration </th><td> {{object.duration|scientific}} </td> </tr>
                <tr> <th class="collapsed-header"> strain </th><td> {{object.strain|scientific}} </td> </tr>
                <tr> <th class="collapsed-header"> peak_time </th><td> {{object.peak_time}} </td> </tr>
                <tr> <th class="collapsed-header"> peak_time_ns </th><td> {{object.peak_time_ns}} </td> </tr>
                <tr> <th class="collapsed-header"> central_freq </th><td> {{object.central_freq|floatformat:"-4"}} </td> </tr>
                <tr> <th class="collapsed-header"> bandwidth </th><td> {{object.bandwidth|floatformat:"-4"}} </td> </tr>
                <tr> <th class="collapsed-header"> amplitude </th> <td> {{object.amplitude|scientific}} </td> </tr>
                <tr> <th class="collapsed-header"> chirp mass </th> <td> {{object.mchirp|floatformat:"-4"}} </td> </tr>
                <tr> <th class="collapsed-header"> snr </th> <td> {{object.snr|floatformat:"-4"}} </td> </tr>
                <tr> <th class="collapsed-header"> confidence </th> <td> {{object.confidence|scientific}} </td> </tr>
                <tr> <th class="collapsed-header"> false_alarm_rate </th> <td> {{object.false_alarm_rate|scientific}} </td> </tr>
                <tr> <th class="collapsed-header"> ligo_axis_ra </th> <td> {{object.ligo_axis_ra|floatformat:"-4"}} </td> </tr>
                <tr> <th class="collapsed-header"> ligo_axis_dec </th> <td> {{object.ligo_axis_dec|floatformat:"-4"}} </td> </tr>
                <tr> <th class="collapsed-header"> ligo_angle </th> <td> {{object.ligo_angle}} </td> </tr>
                <tr> <th class="collapsed-header"> ligo_angle_sig </th> <td> {{object.ligo_angle_sig}} </td></tr>
                <tr> <th class="collapsed-header"> single ifo times</th> <td> {{object.single_ifo_times}} </td></tr>
                <tr> <th class="collapsed-header"> hoft </th> <td> {{object.hoft}} </td></tr>
                <tr> <th class="collapsed-header"> code </th> <td> {{object.code}} </td></tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}
