{% extends "gracedb/event_detail.html" %}
{% load timeutil %}

{% block basic_info %}
<div class="row my-3 justify-content-center">
    <div class="col">
    <div id="gdb-table-basic-grb" class="table-responsive">
      <table class="table-basic-info table-condensed my-1">
        <thead>
        <tr>
         <th colspan="23" class="banner-row">Basic Event Information</th>
        </tr>

    <tr class="header-row">
            <th>UID</th>
            <th>Labels</th>
            <th>Group</th>
            <th>Pipeline</th>
            <th>Search</th>
            <th>
                {{ "gps"|timeselect:"gps" }}
            </th>
            <th>Links</th>
            <th>
                {{ "submitted"|timeselect:"utc" }}
            </th>
    </tr>
        </thead>


    <tr>
        <td data-title="UID">{{ object.graceid }}</td>
        <td data-title="Labels">
                 {% if object.labelling_set.all %}
                 {% for labelling in object.labelling_set.all %}
                    <span style="color: {{labelling.label.defaultColor}};" class="label"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-html="true"
                       title="<em>{{labelling.label.description}}</em><br>
                      <b>Added by:</b> {{labelling.creator.get_full_name}}<br>
                      <b>Added:</b> {{labelling.created}}">
               {{ labelling.label.name }}</span>
                 {% endfor %}
                 {% else %}
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 {% endif %}
        </td>
        <td data-title="Group">{{ object.group.name }} </td>
        <td data-title="Pipeline">{{ object.pipeline.name }} </td>
        <td data-title="Search">{{ object.search.name }} </td>
        <td data-title="Event Time">{% if object.gpstime%}
                <!-- <span title="{{ object.gpstime|gpsdate }}">{{ object.gpstime }}</span> -->
                {{ object.gpstime|multiTime:"gps" }}
            {% endif %}</td>
        <td data-title="Links"><a href="{{ object.weburl }}">Data</a></td>
        <td data-title="Submitted">{{ object.created|multiTime:"submitted" }}</td>
    </tr>

</table>
</div>
</div>
</div>
{% endblock %}

{% block analysis_specific %}
{% if object.grbevent %}
<div class="row my-3 justify-content-center">
    <div class="col">
    <div id="grb-info" class="table-responsive">
<table class="table-basic-info table-condensed my-1">
        <thead>
        <tr>
         <th colspan="23" class="banner-row">GRB Info</th>
        </tr>
        </thead>
		<tr><th>IVORN</th><td colspan="2">{{object.ivorn}}</td></tr>
		<tr><th>Author</th><td colspan="2">{{object.author_shortname}}</td></tr>
		<tr><th>Author IVORN</th><td colspan="2">{{object.author_ivorn}}</td></tr>
		<tr><th>Observatory</th><td colspan="2">{{object.observatory_location_id}}</td></tr>
		<tr><th>How</th><td colspan="2">
{% if object.how_reference_url %}
				<a href="{{object.how_reference_url}}" target="_new">{{object.how_description}}</a>
{% else %}
				{{object.how_description}}
{% endif %}
		</td></tr>
        {% if object.trigger_id %}
		<tr><th>Trigger ID</th><td colspan="2">{{object.trigger_id}}</td></tr>
        {% endif %}
        {% if object.trigger_duration %}
		<tr><th>Trigger duration</th><td colspan="2">{{object.trigger_duration}}</td></tr>
        {% endif %}
        {% if object.far %}
		<tr><th>FAR (Hz)</th><td colspan="2">{{object.far}}</td></tr>
        {% endif %}
        {% if object.t90 %}
		<tr><th>T90</th><td colspan="2">{{object.t90}}</td></tr>
        {% endif %}
        {% if object.redshift %}
		<tr><th>Redshift</th><td colspan="2">{{object.redshift}}</td></tr>
        {% endif %}
        {% if object.designation %}
		<tr><th>Event designation</th><td colspan="2">{{object.designation}}</td></tr>
        {% endif %}
		<tr><th>Location</th><th>Coord System</th><td>{{object.coord_system}}</td></tr>
		<tr><td></td><th width="150px">RA</th><td>{{object.ra}}</td></tr>
		<tr><td></td><th>Dec</th><td>{{object.dec}}</td></tr>
		<tr><td></td><th>Err</th><td>{{object.error_radius}}</td></tr>
</table> 
</div>
</div>
</div>


{% if can_update_grbevent %}
<div class="row my-3">
    <div class="col">
    <div class="table-basic-info table-condensed my-1">
<table class="table-basic-info table-condensed my-1">
        <thead>
        <tr>
         <th colspan="23" class="banner-row">Update GRB Event</th>
        </tr>
        </thead>
        <tbody>

<form id="update_grbevent_form" action="{% url "legacy_apiweb:default:events:update-grbevent" object.graceid %}">
    {{ update_grbevent_form.as_table }}
    <tr>
        <td></td>
        <td><input type="submit" value="Update" disabled></td>
    </tr>
</form>
</tbody>
</table>
</div>
</div>
</div>


{% endif %}

{% endif %}
{% endblock %}

