{% extends "gracedb/event_detail.html" %}
{% load timeutil %}
{% load scientific %}

{% block basic_info %}
<div class="row my-3 justify-content-center">
  <div class="col-md-10">
    <div id="gdb-table-basic-ne">
      <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
	<thead>
	  <tr>
	    <th colspan="8"><h3>Basic Event Information</h3></th>
	  </tr>
	</thead>
	<tbody>

	  <tr>
	    <td>UID</td>
	    <td data-title="UID">{{ object.graceid }}</td>
	  </tr>
	  <tr>
	    <td>Labels</td>
	    <td data-title="Labels">
	      {% if object.labelling_set.all %}
	      {% for labelling in object.labelling_set.all %}
	      <span style="color: {{labelling.label.defaultColor}};" class="label"
								     data-toggle="tooltip"
								     data-placement="top"
								     data-html="true"
								     title="<em>{{labelling.label.description}}</em><br>
								     <b>Added by:</b> {{labelling.creator.get_full_name}}<br>
								     <b>Added:</b> {{labelling.created}}">
								     {{ labelling.label.name }}</span>
	      {% endfor %}
	      {% else %}
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td>Group</td>
	    <td data-title="Group">{{ object.group.name }} </td>
	  </tr>
	  <tr>
	    <td>Pipeline</td>
	    <td data-title="Pipeline">{{ object.pipeline.name }} </td>
	  </tr>
	  <tr>
	    <td>Search</td>
	    <td data-title="Search">{{ object.search.name }} </td>
	  </tr>
	  <tr>
	    <td>
	      {{ "gps"|timeselect:"gps" }}
	    </td>
	    <td data-title="Event Time">{% if object.gpstime%}
	      <!-- <span title="{{ object.gpstime|gpsdate }}">{{ object.gpstime }}</span> -->
	      {{ object.gpstime|multiTime:"gps" }}
	      {% endif %}</td>
	  </tr>
	  {% if object.far %}
	  <tr>
	    <td>FAR (Hz)</td>
	    <td data-title="FAR">{{ object.far | scientific }} </td>
	  </tr>
	  {% endif %}
	  <tr>
	    <td>Latency (s)</td>
	    <td>{{ object.reporting_latency|floatformat:"-3" }} </td>
	  </tr>
	  <tr>
	    <td>Links</td>
	    <td data-title="Links"><a href="{{ object.weburl }}">Data</a></td>
	  </tr>
	  <tr>
	    <td>
	      {{ "submitted"|timeselect:"utc" }}
	    </td>
	    <td data-title="Submitted">{{ object.created|multiTime:"submitted" }}</td>
	  </tr>

	  {% if object.superevent %}
	  <tr>
	    <td>Superevent</td>
	    <td><a href="{{ object.superevent.get_web_url }}">{{ object.superevent.superevent_id }}</a></td>
	  </tr>
	  {% endif %}

	</tbody>

      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block analysis_specific %}
{% if object.neutrinoevent %}
<div class="row my-3 justify-content-center">
  <div class="col-md-10">
    <div id="ne-info">
      <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
	<thead>
	  <tr>
	    <th colspan="2"><h3>Neutrino Observation Info</h3></th>
	  </tr>
	</thead>
	<tr><td>IVORN</td><td>{{object.ivorn}}</td></tr>
	{% if object.amon_id %}
	<tr><td>Alert Identification Number</td><td>{{object.amon_id}}</td></tr>
	{% endif %}
	{% if object.run_id %}
	<tr><td>Run ID</td><td>{{object.run_id}}</td></tr>
	{% endif %}
	{% if object.event_id %}
	<tr><td>Event ID</td><td>{{object.event_id}}</td></tr>
	{% endif %}
	{% if object.stream %}
	<tr><td>IceCube Coincidence Stream ID</td><td>{{object.stream}}</td></tr>
	{% endif %}
	{% if object.far_ne %}
	<tr><td>FAR ({{ object.far_unit }}) </td><td>{{object.far_ne}}</td></tr>
	{% endif %}
	{% if object.signalness %}
	<tr><td>Signalness</td><td>{{object.signalness}}</td></tr>
	{% endif %}
	{% if object.energy %}
	<tr><td>Energy</td><td>{{object.energy}}</td></tr>
	{% endif %}
	{% if object.src_err_90 %}
	<tr><td>Source Angular Error (90%)</td><td>{{object.src_err_90}}</td></tr>
	{% endif %}
	{% if object.src_err_50 %}
	<tr><td>Source Angular Error (50%)</td><td>{{object.src_err_50}}</td></tr>
	{% endif %}
      </table>
    </div>
  </div>
</div>

<div class="row my-3 justify-content-center">
  <div class="col-md-10">
    <div id="ne-loc">
      <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
	<thead>
	  <tr>
	    <th colspan="2"><h3>Neutrino Location</h3></th>
	  </tr>
	</thead>
	<tbody>
	  <tr><td>Coord System</td><td>{{object.coord_system}}</td></tr>
	  <tr><td>RA</td><td>{{object.ra}}</td></tr>
	  <tr><td>Dec</td><td>{{object.dec}}</td></tr>
	  <tr><td>Err</td><td>{{object.error_radius}}</td></tr>
	</tbody>
      </table> 
    </div>
  </div>
</div>


{% endif %}

{% endblock %}

