{% extends "gracedb/event_detail.html" %}
{% load timeutil %}

{% block basic_info %}
<div class="row pt-3">
    <div class="col-sm">
    <div class="table-responsive table-detail">
      <table class="table table-sm table-detail">
        <thead class="thead-dark">
        <tr>
         <th colspan="23" class="table-detail-th"> <h5>Basic Info</h5> </th>
        </tr>
        </thead>

    <tr>
            <th valign="top">UID</th>
            <th>Labels</th>
            <th>Group</th>
            <th>Pipeline</th>
            <th>Search</th>
            <th>Instruments</th>
            <th>
                {{ "gps"|timeselect:"gps" }}
            </th>
            <th>Links</th>
            <th>
                {{ "submitted"|timeselect:"utc" }}
            </th>
    </tr>


    <tr>
        <td>{{ object.graceid }}</td>
        <td>
             {% for labelling in object.labelling_set.all %}
                <span onmouseover="tooltip.show(tooltiptext('{{labelling.label.name}}', '{{labelling.creator.name}}', '{{labelling.created|utc}}', '{{labelling.label.description}}'));" onmouseout="tooltip.hide();"  style="color: {{labelling.label.defaultColor}}">{{ labelling.label.name }}</span>
             {% endfor %}
        </td>
        <td>{{ object.group.name }} </td>
        <td>{{ object.pipeline.name }} </td>
        <td>{{ object.search.name }} </td>
        <td>{{ object.instruments }}</td>
        <td>{% if object.gpstime%}
                <!-- <span title="{{ object.gpstime|gpsdate }}">{{ object.gpstime }}</span> -->
                {{ object.gpstime|multiTime:"gps" }}
            {% endif %}</td>
        <td><a href="{{ object.weburl }}">Data</a></td>
        <td>{{ object.created|multiTime:"submitted" }}</td>
    </tr>

</table>
</div>
</div>
</div>
{% endblock %}

{% block analysis_specific %}
{% if object.grbevent %}
<div class="row pt-3">
    <div class="col-sm">
    <div class="table-responsive table-detail">
<table class="table table-sm table-detail">
        <thead class="thead-dark">
        <tr>
         <th colspan="23" class="table-detail-th"> <h6>GRB Info</h6> </th>
        </tr>
        </thead>
       	<tbody>
		<tr><th>IVORN</th><td colspan="2">{{object.ivorn}}</td></tr>
		<tr><th>Author</th><td colspan="2">{{object.author_shortname}}</td></tr>
		<tr><th>Author IVORN</th><td colspan="2">{{object.author_ivorn}}</td></tr>
		<tr><th>Observatory</th><td colspan="2">{{object.observatory_location_id}}</td></tr>
		<tr><th>How</th><td colspan="2">
{% if object.how_reference_url %}
				<a href="{{object.how_reference_url}}" target="_new">{{object.how_description}}</a>
{% else %}
				{{object.how_description}}
{% endif %}
		</td></tr>
        {% if object.trigger_id %}
		<tr><th>Trigger ID</th><td colspan="2">{{object.trigger_id}}</td></tr>
        {% endif %}
        {% if object.trigger_duration %}
		<tr><th>Trigger duration</th><td colspan="2">{{object.trigger_duration}}</td></tr>
        {% endif %}
        {% if object.far %}
		<tr><th>FAR (Hz)</th><td colspan="2">{{object.far}}</td></tr>
        {% endif %}
        {% if object.t90 %}
		<tr><th>T90</th><td colspan="2">{{object.t90}}</td></tr>
        {% endif %}
        {% if object.redshift %}
		<tr><th>Redshift</th><td colspan="2">{{object.redshift}}</td></tr>
        {% endif %}
        {% if object.designation %}
		<tr><th>Event designation</th><td colspan="2">{{object.designation}}</td></tr>
        {% endif %}
		<tr><th>Location</th><th>Coord System</th><td>{{object.coord_system}}</td></tr>
		<tr><td></td><th width="150px">RA</th><td>{{object.ra}}</td></tr>
		<tr><td></td><th>Dec</th><td>{{object.dec}}</td></tr>
		<tr><td></td><th>Err</th><td>{{object.error_radius}}</td></tr>
	</tbody>
</table> 
</div>
</div>
</div>


{% if can_update_grbevent %}
<div class="content-area">

<h3>Update GRB Event</h3>
<form id="update_grbevent_form" action="{% url "legacy_apiweb:default:events:update-grbevent" object.graceid %}">
    <table>
    {{ update_grbevent_form.as_table }}
    <tr>
        <td></td>
        <td><input type="submit" value="Update" disabled></td>
    </tr>
    </table>
</form>
</div>
{% endif %}

{% endif %}
{% endblock %}

