{% extends "gracedb/event_detail.html" %}
{% load timeutil %}
{% load scientific %}

{# Analysis-specific attributes for an LM event#}
{% block analysis_specific %}

<div class="row my-3 justify-content-md-center">
    <div class="col-md-10">
        <div id="table-coinc-event">
            <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5 rounded">
                <thead>
                    <tr>
                        <th colspan="2"><h3>Sim Inspiral Table</h3></th>
                    </tr>
                </thead>
                    {% if object.source_channel != None %}
                     <tr> <td>Source Channel</th> <td>{{ object.source_channel }}</td> </tr>
                    {% endif %}
                    {% if object.destination_channel != None %}
                     <tr> <td>Destination Channel</th> <td>{{ object.destination_channel }}</td> </tr>
                    {% endif %}
                    {% if object.mass1 != None %}
                     <tr> <td>mass1</th> <td>{{ object.mass1|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.mass2 != None %}
                     <tr> <td>mass2</th> <td>{{ object.mass2|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.eta != None %}
                     <tr> <td>eta</th> <td>{{ object.eta|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.mchirp != None %}
                     <tr> <td>mchirp</th> <td>{{ object.mchirp|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.amp_order != None %}
                     <tr> <td>amp_order</th> <td>{{ object.amp_order|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.coa_phase != None %}
                     <tr> <td>coa_phase</th> <td>{{ object.coa_phase|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.spin1x != None %}
                     <tr> <td>spin1x</th> <td>{{ object.spin1x|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.spin1y != None %}
                     <tr> <td>spin1y</th> <td>{{ object.spin1y|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.spin1z != None %}
                     <tr> <td>spin1z</th> <td>{{ object.spin1z|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.spin2x != None %}
                     <tr> <td>spin2x</th> <td>{{ object.spin2x|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.spin2y != None %}
                     <tr> <td>spin2y</th> <td>{{ object.spin2y|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.spin2z != None %}
                     <tr> <td>spin2z</th> <td>{{ object.spin2z|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.geocent_end_time != None %}
                     <tr> <td>geocent_end_time</th> <td>{{ object.geocent_end_time }}</td> </tr>
                    {% endif %}
                    {% if object.geocent_end_time_ns != None %}
                     <tr> <td>geocent_end_time_ns</th> <td>{{ object.geocent_end_time_ns }}</td> </tr>
                    {% endif %}
                    {% if object.end_time_gmst != None %}
                     <tr> <td>end_time_gmst</th> <td>{{ object.end_time_gmst }}</td> </tr>
                    {% endif %}
                    {% if object.f_lower != None %}
                     <tr> <td>f_lower</th> <td>{{ object.f_lower|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.f_final != None %}
                     <tr> <td>f_final</th> <td>{{ object.f_final|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.distance != None %}
                     <tr> <td>distance</th> <td>{{ object.distance|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.latitude != None %}
                     <tr> <td>latitude</th> <td>{{ object.latitude|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.longitude != None %}
                     <tr> <td>longitude</th> <td>{{ object.longitude|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.polarization != None %}
                     <tr> <td>polarization</th> <td>{{ object.polarization|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.inclination != None %}
                     <tr> <td>inclination</th> <td>{{ object.inclination|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.theta0 != None %}
                     <tr> <td>theta0</th> <td>{{ object.theta0|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.phi0 != None %}
                     <tr> <td>phi0</th> <td>{{ object.phi0|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.waveform != None %}
                     <tr> <td>waveform</th> <td>{{ object.waveform|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.numrel_mode_min != None %}
                     <tr> <td>numrel_mode_min</th> <td>{{ object.numrel_mode_min }}</td> </tr>
                    {% endif %}
                    {% if object.numrel_mode_max != None %}
                     <tr> <td>numrel_mode_max</th> <td>{{ object.numrel_mode_max }}</td> </tr>
                    {% endif %}
                    {% if object.numrel_data != None %}
                     <tr> <td>numrel_data</th> <td>{{ object.numrel_data }}</td> </tr>
                    {% endif %}
                    {% if object.source != None %}
                     <tr> <td>source</th> <td>{{ object.source }}</td> </tr>
                    {% endif %}
                    {% if object.taper != None %}
                     <tr> <td>taper</th> <td>{{ object.taper }}</td> </tr>
                    {% endif %}
                    {% if object.bandpass != None %}
                     <tr> <td>bandpass</th> <td>{{ object.bandpass }}</td> </tr>
                    {% endif %}
                    {% if object.alpha != None %}
                     <tr> <td>alpha</th> <td>{{ object.alpha|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.alpha1 != None %}
                     <tr> <td>alpha1</th> <td>{{ object.alpha1|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.alpha2 != None %}
                     <tr> <td>alpha2</th> <td>{{ object.alpha2|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.alpha3 != None %}
                     <tr> <td>alpha3</th> <td>{{ object.alpha3|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.alpha4 != None %}
                     <tr> <td>alpha4</th> <td>{{ object.alpha4|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.alpha5 != None %}
                     <tr> <td>alpha5</th> <td>{{ object.alpha5|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.alpha6 != None %}
                     <tr> <td>alpha6</th> <td>{{ object.alpha6|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.beta != None %}
                     <tr> <td>beta</th> <td>{{ object.beta|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.psi0 != None %}
                     <tr> <td>psi0</th> <td>{{ object.psi0|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.psi3 != None %}
                     <tr> <td>psi3</th> <td>{{ object.psi3|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.g_end_time != None %}
                     <tr> <td>g_end_time</th> <td>{{ object.g_end_time }}</td> </tr>
                    {% endif %}
                    {% if object.g_end_time_ns != None %}
                     <tr> <td>g_end_time_ns</th> <td>{{ object.g_end_time_ns }}</td> </tr>
                    {% endif %}
                    {% if object.h_end_time != None %}
                     <tr> <td>h_end_time</th> <td>{{ object.h_end_time }}</td> </tr>
                    {% endif %}
                    {% if object.h_end_time_ns != None %}
                     <tr> <td>h_end_time_ns</th> <td>{{ object.h_end_time_ns }}</td> </tr>
                    {% endif %}
                    {% if object.l_end_time != None %}
                     <tr> <td>l_end_time</th> <td>{{ object.l_end_time }}</td> </tr>
                    {% endif %}
                    {% if object.l_end_time_ns != None %}
                     <tr> <td>l_end_time_ns</th> <td>{{ object.l_end_time_ns }}</td> </tr>
                    {% endif %}
                    {% if object.t_end_time != None %}
                     <tr> <td>t_end_time</th> <td>{{ object.t_end_time }}</td> </tr>
                    {% endif %}
                    {% if object.t_end_time_ns != None %}
                     <tr> <td>t_end_time_ns</th> <td>{{ object.t_end_time_ns }}</td> </tr>
                    {% endif %}
                    {% if object.v_end_time != None %}
                     <tr> <td>v_end_time</th> <td>{{ object.v_end_time }}</td> </tr>
                    {% endif %}
                    {% if object.v_end_time_ns != None %}
                     <tr> <td>v_end_time_ns</th> <td>{{ object.v_end_time_ns }}</td> </tr>
                    {% endif %}
                    {% if object.eff_dist_g != None %}
                     <tr> <td>eff_dist_g</th> <td>{{ object.eff_dist_g|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.eff_dist_h != None %}
                     <tr> <td>eff_dist_h</th> <td>{{ object.eff_dist_h|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.eff_dist_l != None %}
                     <tr> <td>eff_dist_l</th> <td>{{ object.eff_dist_l|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.eff_dist_t != None %}
                     <tr> <td>eff_dist_t</th> <td>{{ object.eff_dist_t|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.eff_dist_v != None %}
                     <tr> <td>eff_dist_v</th> <td>{{ object.eff_dist_v|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.amplitude != None %}
                     <tr> <td>Amplitude</th> <td>{{ object.amplitude|scientific }}</td> </tr>
                    {% endif %}
                    {% if object.tau != None %}
                     <tr> <td>tau</th> <td>{{ object.tau|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.phi != None %}
                     <tr> <td>phi</th> <td>{{ object.phi|floatformat:"-4" }}</td> </tr>
                    {% endif %}
                    {% if object.freq != None %}
                     <tr> <td>freq</th> <td>{{ object.freq|floatformat:"-4" }}</td> </tr>
                    {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
