{% extends "base.html" %}
{% load fileutil %}
{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ title }}{% endblock %}
{% block pageid %}event files{% endblock %}

{% block content %}

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#file-list').DataTable({
            paging:false,
            searching:false,
            info:false,
            order: [[0, 'asc']],
        });
});
</script>

<div class="row my-3 justify-content-center">
  <div class="col-md-10">

     <p> <b><a href="{% url "view" graceid %}"> &#8592; Return to {{ graceid }} </a> </b></p>
    <p>
      Filenames in <b>bold</b> are symbolic links that point to the specified
      file.
    </p>

    <table class="table-hover table-condensed table-resp-gracedb shadow p-3 mb-5rounded"
        id="file-list">
      <thead>
        <tr>
          <th colspan="4"><h3> {{ graceid }} File List </h3></th>
        </tr>

        <tr>
        <th scope="col"> File Name </th>
        <th scope="col"> Created (UTC) </th>
        <th scope="col"> Submitter </th>
        <th scope="col"> File Size (KB) </th>
        </tr>
      </thead>

      <tbody>
        {% file_table_detail file_list datadir graceid%}
      </tbody>

    </table>
  </div>
</div>
{% endblock %}
