{% load timeutil %}
{% load mediaviews %}
{% load scientific %}

<div class="row pt-3 justify-content-center">
<div class="col-sm">

   <!-- Header for Log Messages -->

   <div class="table-responsive table-detail">
      <table class="table table-sm table-detail">
          <thead class="thead-gdbdark">
          <tr>
           <th colspan="23" class="table-detail-th"> <h5>Log Messages</h5> </th>
          </tr>
       </table>

       <p><center>
       {{ object.eventlog_set.all|logboxes }}
       </center></p>

        <hr/>        

        <p><center>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#FullLog" aria-expanded="false" aria-controls="FullLog">
            Full Event Log
        </button>
        </center></p>
   

        <!-- Full event log table --> 


        <div class="collapse" id="FullLog">
           <div class="card card-body">

              <div class="table-responsive table-detail">
              <table class="table table-sm table-detail table-hover" id="full_event_log">
                <thead class="thead-light">
                   <tr>
                   <th colspan="23" class="table-detail-th"> <h6>Full Event Log</h6> </th>
                </thead>
                   </tr>
                   <tr>
                      <th scope="col" class="align-bottom"> No. </th>
                      <th scope="col" class="align-bottom"> {{ "lcreated"|timeselect:"utc" }}</th>
                      <th scope="col" class="align-bottom"> Submitter </th>
                      <th scope="col" class="align-bottom"> Comment </th>
                   </tr>
                   {% for log in object.eventlog_set.all %}
                   <tr>
                    <td> {{ log.N }} </td>
                    <td> {{ log.created|multiTime:"lcreated" }} </td>
                    <td> {{ log.issuer }} </td>
                    {% autoescape off %}
                    <td> {{ log.comment }} 
                    {% endautoescape %}
                    {% if log.filename %}
                     (<a href="{{ log.fileurl }}">{{ log.filename }}</a>)
                    {% endif %}
                    </td>
                   </tr>
                   {% endfor %}
              </table>
              </div>
        
           </div>
        </div>

   </div>
</div>
</div>
