{% extends "base.html" %}

{% block title %}Options | Create Contact{% endblock %}
{% block heading %}Create Contact{% endblock %}
{% block pageid %}userprofile{% endblock %}

{% block content %}

<br />
<div style="padding: 10px;">
<h3>Instructions</h3>
<ul>
    <li>A description of your contact is required.</li>
    <li>Choose a contact method (e-mail, phone, or both).</li>
    <li>For phone alerts, choose call, text, or both.</li>
</ul>
</div>

<form method="POST">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
