{% extends "base.html" %}

{% block title %}Options | Notifications{% endblock %}
{% block heading %}<!-- leave heading blank -->{% endblock %}
{% block pageid %}userprofile{% endblock %}

{% block content %}

{% if messages %}
<div class="flash">
    {% for m in messages %}
        <p>{{ m }}</p>
    {% endfor %}
</div>
{% endif %}

<h2>Contacts (LVC Users)</h2>
{% for contact in contacts %}
    <ul>
        <li>
            <a href="{% url "userprofile-test-contact" contact.id %}">Test</a>
            <a href="{% url "userprofile-delete-contact" contact.id %}">Delete</a>
            {% comment %}
            This next part is gross but necessary due to Django whitespace messiness.
            {% endcomment %}
            {{contact.desc}} |
            {% if contact.email and contact.call_phone and contact.text_phone %}
                Email {{contact.email}}, call/text {{contact.phone}}
            {% elif contact.email and contact.call_phone %}
                Email {{contact.email}}, call {{contact.phone}}
            {% elif contact.email and contact.text_phone %}
                Email {{contact.email}}, text {{contact.phone}}
            {% elif contact.email %}
                Email {{contact.email}}
            {% elif contact.call_phone and contact.text_phone %}
                Call/text {{contact.phone}}
            {% elif contact.call_phone %}
                Call {{contact.phone}}
            {% elif contact.text_phone %}
                Text {{contact.phone}}
            {% else %}
                ERROR: this contact has no contact method.
            {% endif %}
        </li>
    </ul>
{% endfor %}

<a href="{% url "userprofile-create-contact" %}">Create New Contact</a>
<br/><br/>

<h2>Notifications (LVC Users)</h2>
{% for trigger in triggers %}
   <ul>
     <li> 
        <a href="{% url "userprofile-delete" trigger.id %}">Delete</a>
        {{ trigger.userlessDisplay }}
     </li>
   </ul>
{% endfor %}

<a href="{% url "userprofile-create" %}">Create New Notification (LVC users)</a>
<br/><br/>

<h2>Passwords for Scripted Access (LV-EM users)</h2>

<a href="{% url "userprofile-manage-password" %}">Manage Password</a>

{% endblock %}
