{% extends "base.html" %}

{% block title %}Options | Notifications{% endblock %}
{% block heading %}<!-- leave heading blank -->{% endblock %}
{% block pageid %}userprofile{% endblock %}

{% load static %}
{% block headcontents %}
    <link rel="stylesheet" href="{% static "css/bootstrap_buttons.css" %}"></script>
    {{ block.super }}
{% endblock %}

{% block content %}

{% if messages %}
<div class="flash">
    {% for m in messages %}
        <p>{{ m }}</p>
    {% endfor %}
</div>
{% endif %}

{# Show contacts and notification to internal users only#}
{% if user_is_internal %}
<h1>Contacts</h1>
{% if contacts %}
<ul style="list-style-type: none; padding-left: 10px;">
{% for contact in contacts %}
    <li style="padding-bottom: 5px;">
        {% if contact.verified %}
            <a class="btn btn-primary" href="{% url "alerts:test-contact" contact.pk %}">Test</a>
        {% else %}
            <button class="btn btn-primary" disabled>Test</button>
        {% endif %}
        <a class="btn btn-secondary" href="{% url "alerts:edit-contact" contact.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url "alerts:delete-contact" contact.pk %}">Delete</a>
        <b>{{ contact.description }}</b> | {{ contact.display }}
        <b>
        {% if contact.verified %}
        <div style="color: green; display: inline-block;">Verified</div>
        {% else %}
        <div style="color: red; display: inline-block;">Not verified</div>
        <a class="btn btn-warning" href="{% url "alerts:verify-contact" contact.pk %}">Verify</a>
        {% endif %}
        </b>
    </li>
{% endfor %}
</ul>
{% endif %}

<a class="btn btn-success" href="{% url "alerts:create-contact" %}">Create new contact</a>
<br/><br/>

<h1>Notifications</h1>
{% if notifications %}
<ul style="list-style-type: none; padding-left: 10px;">
{% for notification in notifications %}
    <li style="padding-bottom: 5px;">
        <a class="btn btn-secondary" href="{% url "alerts:edit-notification" notification.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url "alerts:delete-notification" notification.pk %}">Delete</a>
        <b>{{ notification.description }}</b> | {{ notification.display }}
    </li>
{% endfor %}
</ul>
{% endif %}

<a class="btn btn-success" href="{% url "alerts:create-notification" %}">Create new notification</a>
<br/><br/>
{% endif %}

{# Show password page only to LV-EM users who are not also internal #}
{# But let the admins (superusers) see it with some additions #}
{% if user_is_lvem and not user_is_internal or user.is_superuser %}
    {% if user.is_superuser %}
    <h2 style="border: 2px solid red; color: red; display: inline-block;"><b>The following section is only visible to non-internal LV-EM members. You can see it (and this message) because you are a superuser.</b></h2>
    {% endif %}
<h1>Passwords for Scripted Access</h1>
<a class="btn btn-dark" href="{% url "alerts:manage-password" %}">Manage password</a>
{% endif %}

{% endblock %}
