<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!-- lifted from http://david.feinzeig.com/blog/2012/02/18/tips-for-creating-404-page-not-found-and-500-server-error-templates-in-django-plus-configuring-email-alerts/ -->
 
<head>
 <title>Page unavailable</title>
</head>
 
<body>
 <h1>500: Page unavailable</h1>
 
 <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>
 
 <p>The admins have been notified.</p>
</body>
 
</html>

