<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
    <title>GraceDb | {% block title %}{% endblock %}</title>
<!-- START TESTING -->
<script type="text/javascript">
function changeTime(obj, label) {
    var timetype= obj[obj.selectedIndex].value;
    if (timetype=="") { return; }
    var times = document.getElementsByName("time-"+label);
    for (i=0; i<times.length; i++) {
        newtime =  times[i].getAttribute(timetype);
        times[i].innerHTML = newtime;
    }
}
</script>
<!-- END TESTING -->
{% block jscript %}{% endblock %}
</head>

<body id="{% block pageid %}{% endblock %}"{% block bodyattrs %}{% endblock %}>

<div id="content">

<center>
<h1> GraceDB &mdash; Gravitational-wave Candidate Event Database</h1>
</center>

{% block nav %}
<ul id="nav">
    <li id="nav-home"><a href="{% url "home" %}">Home</a></li>
    <li id="nav-search"><a href="{% url "search" %}">Search</a></li>
    {% if user_is_internal %}
        <li id="nav-create"><a href="{% url "create" %}">Create</a></li>
        <li id="nav-reports"><a href="{% url "reports" %}">Reports</a></li>
        <li id="nav-feeds"><a href="{% url "feeds" %}">RSS</a></li>
    {% endif %}
    <li id="nav-latest"><a href="{% url "latest" %}">Latest</a></li>
    {% if user_is_internal %}
    <li id="nav-userprofile"><a href="{% url "userprofile-home" %}">Options</a></li>
    {% endif %}
    {% if user %}
        <li id="nav-user">Authenticated as: {{ user.first_name }} {{user.last_name }}</li>
    {% else %}
        <li id="nav-login"><a href="{{ login_url }}">Login</a></li>
    {% endif %}
</ul>
<center>
    {% if config_name %}
      <h1 style="color: red;">
          {{config_name}}
      </h1>
    {% endif %}
</center>
{% endblock %}

        <p>&nbsp;</p> <!-- bad way to create vertical space -->

{% load flash %}
{% flash %}
    <div id="status_block" class="{{ params.class }}">{{ msg }}</div>
{% endflash %}


        <h2>{% block heading %}Title{% endblock %}</h2>


        {% block content %}{% endblock %}

    </div>

<div id="header">
<!-- Header. Yea, this is actually a footer.  It *was* as header once, though. -->
 <table align="center" width="90%%">
  <tr>
   <td align="center">
    <img width="52" height="36" src="{{STATIC_URL}}images/ligo-blue.gif">
    <!-- 673px 487px -->
   </td>

   <td align="center">
    <img width="164" height="30" src="{{STATIC_URL}}images/Virgo_logo50.png">
    <!-- 4,829px 884px -->
   </td>

   <td align="center">
    {% if user and user.username == "chad.hanna@LIGO.ORG" %}
        <img width="194" height="37" src="{{STATIC_URL}}images/PI_Logo-anim.gif">
    {% else %}{% if user and user.username == "kipp.cannon@LIGO.ORG" %}
        <img width="194" height="37" src="{{STATIC_URL}}images/CITA_logo-anim.gif">
    {% else %}
        <img width="107" height="37" src="{{STATIC_URL}}images/anim2.gif">
    {% endif %}{% endif %}
    <!-- 287px 101px -->
   </td>

   <td align="center">
    <img width="87" height="37" src="{{STATIC_URL}}images/LSC_logo50.png">
    <!-- 6,261px 2,652px -->
   </td>
  </tr>
 </table>
<!-- End Header -->
</div>

</body>
</html>
