<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/gracedb-static/css/style.css" />
    <title>GraceDb | {% block title %}{% endblock %}</title>
</head>

<body id="{% block pageid %}{% endblock %}">

<div id="header">
<!-- Header -->
 <table width="100%%">
  <tr>
   <td align="center">
    <img width="69" height="50" src="/gracedb-static/images/LIGO_logo50.png">
    <!-- 673px 487px -->
   </td>

   <td align="center">
    <img width="273" height="50" src="/gracedb-static/images/Virgo_logo50.png">
    <!-- 4,829px 884px -->
   </td>

   <td align="center">
    <img width="144" height="50" src="/gracedb-static/images/anim2.gif">
    <!-- 287px 101px -->
   </td>

   <td align="center">
    <img width="118" height="50" src="/gracedb-static/images/LSC_logo50.png">
    <!-- 6,261px 2,652px -->
   </td>
  </tr>
 </table>
<!-- End Header -->
</div>

<div id="content">
 <center>
 <h1>GraceDB: Gravitational-Wave Candidate Event Database</h1>
 </center>

{% block nav %}
<ul id="nav">
    <li id="nav-home"><a href="{% url home %}">Home</a></li>
    <li id="nav-search"><a href="{% url search %}">Search</a></li>
    <li id="nav-create"><a href="{% url create %}">Create</a></li>
    <li id="nav-feeds"><a href="{% url feeds %}">RSS</a></li>
    {% if ligouser %}<li id="nav-user">Authenticated as: {{ ligouser.name }}</li>{% endif %}
</ul>
{% endblock %}

        <p>&nbsp;</p> <!-- bad way to create vertical space -->

        <h2>{% block heading %}Title{% endblock %}</h2>


        {% block content %}{% endblock %}

    </div>

    <div id="footer">
        <table><tr><td><img width="50" height="37"
             src="/gracedb-static/images/ligo-blue.gif" alt="LIGO" /></td>
        <td width="50%">&nbsp;</td>
        <td>
           <!--<p>GraceDB is a product of the LIGO Scientific Collaboration</p>-->
           <!-- <p>Copyright &#169; 2008 LIGO</p> -->
        </td>
        </tr></table>
    </div>


</body>
</html>
